@font-face {
  font-family: "Montserrat-Med";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf"); }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf"); }

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: "Montserrat-Reg";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf"); }

body {
  font-family: "Montserrat-Reg";
  background-color: #F2F4F9;
  overflow-x: hidden;
  text-decoration-skip-ink: none;
  color: #1C2429; }

a:hover, a:active {
  text-decoration: none; }

p {
  font-size: 18px;
  line-height: 36px;
  margin: 0; }

/**Header classes r - reg, b - bold, l -light**/
.hr24 {
  font-family: "Montserrat-Reg"; }

.hb24, .hb55 {
  font-family: "Montserrat-Bold"; }

.hl24, .hl36, .hl40, .hl55, .hl72 {
  font-family: "Montserrat-Light"; }

.hr24, .hb24, .hl24 {
  font-size: 24px;
  line-height: 30px; }

.hl55 {
  font-size: 55px;
  line-height: 70px; }

.hl72 {
  font-size: 72px;
  line-height: 90px; }

.hb55 {
  font-size: 55px;
  line-height: 70px; }

.hl36 {
  font-size: 36px;
  line-height: 40px; }

.hl40 {
  font-size: 40px;
  line-height: 50px; }

/**********************************************/
/********************Blocks visibility********/
@media (min-width: 1320px) {
  .d-none-xl {
    display: none; } }

@media (max-width: 1319.98px) {
  .d-none-lg {
    display: none; } }

@media (max-width: 991.98px) {
  .d-none-md {
    display: none !important; } }

@media (max-width: 659.98px) {
  .d-none-sm {
    display: none !important; } }

@media (min-width: 992px) {
  .d-block-lg {
    display: block !important; } }

@media (max-width: 991.98px) {
  .d-block-md {
    display: block; } }

@media (max-width: 659.98px) {
  .d-block-sm {
    display: block !important; } }

/**********************************************/
/********************Padding calculation********/
.ml-0 {
  margin-left: 0; }

.mb-32 {
  margin-bottom: 32px; }

.mt-32 {
  margin-top: 32px; }

.p-0 {
  padding: 0; }

.p-32 {
  padding: 32px 32px; }
  @media (max-width: 659.98px) {
    .p-32 {
      padding-left: -webkit-calc(100% / 2 - 300px / 2);
      padding-left: calc(100% / 2 - 300px / 2);
      padding-right: -webkit-calc(100% / 2 - 300px / 2);
      padding-right: calc(100% / 2 - 300px / 2); } }

@media (max-width: 659.98px) {
  .pb-sm-32 {
    padding-bottom: 32px; } }

@media (max-width: 320.98px) {
  .pb-sm-32 {
    padding: 0 10px 32px 10px !important; } }

.p-calc {
  padding-left: -webkit-calc(100% / 2 - 1290px / 2);
  padding-left: calc(100% / 2 - 1290px / 2);
  padding-right: -webkit-calc(100% / 2 - 1290px / 2);
  padding-right: calc(100% / 2 - 1290px / 2); }
  @media (max-width: 1319.98px) {
    .p-calc {
      padding-left: -webkit-calc(100% / 2 - 964px / 2);
      padding-left: calc(100% / 2 - 964px / 2);
      padding-right: -webkit-calc(100% / 2 - 964px / 2);
      padding-right: calc(100% / 2 - 964px / 2); } }
  @media (max-width: 991.98px) {
    .p-calc {
      padding-left: -webkit-calc(100% / 2 - 630px / 2);
      padding-left: calc(100% / 2 - 630px / 2);
      padding-right: -webkit-calc(100% / 2 - 630px / 2);
      padding-right: calc(100% / 2 - 630px / 2); } }
  @media (max-width: 659.98px) {
    .p-calc {
      padding-left: -webkit-calc(100% / 2 - 300px / 2);
      padding-left: calc(100% / 2 - 300px / 2);
      padding-right: -webkit-calc(100% / 2 - 300px / 2);
      padding-right: calc(100% / 2 - 300px / 2); } }

@media (max-width: 1319.98px) {
  .m-calc {
    margin-left: -webkit-calc(100% / 2 - 964px / 2);
    margin-left: calc(100% / 2 - 964px / 2);
    margin-right: -webkit-calc(100% / 2 - 964px / 2);
    margin-right: calc(100% / 2 - 964px / 2); } }

@media (max-width: 991.98px) {
  .m-calc {
    margin-left: -webkit-calc(100% / 2 - 630px / 2);
    margin-left: calc(100% / 2 - 630px / 2);
    margin-right: -webkit-calc(100% / 2 - 630px / 2);
    margin-right: calc(100% / 2 - 630px / 2); } }

@media (max-width: 659.98px) {
  .m-calc {
    margin-left: -webkit-calc(100% / 2 - 300px / 2);
    margin-left: calc(100% / 2 - 300px / 2);
    margin-right: -webkit-calc(100% / 2 - 300px / 2);
    margin-right: calc(100% / 2 - 300px / 2); } }

/**********************************************/
/********************head*********************/
header {
  color: #fff !important;
  background-color: rgba(28, 36, 41, 0.9);
  background-position: top center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
          background-size: cover; }
  header a {
    color: #fff !important; }
  @media (max-width: 669px) {
    header .container {
      background-position-x: -120px; } }
  @media (max-width: 360px) {
    header .container {
      background-position-x: -255px; } }

.main-menu {
  padding: 17px 7px 0 16px;
  font-family: "Montserrat-Med";
  font-size: 15px;
  line-height: 18px; }
  .main-menu .navbar-collapse {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    z-index: 10000; }
  .main-menu .nav-item {
    padding: 0 40px 0 40px; }
  .main-menu .navbar-brand {
    margin: 5px 35px 5px 41px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 75px;
    height: 32px; }
    .main-menu .navbar-brand img {
      width: 75px;
      height: 32px; }
  @media (max-width: 1080px) {
    .main-menu {
      padding-right: 75px; }
      .main-menu .navbar-toggler {
        -webkit-border-radius: 0;
                border-radius: 0;
        padding-right: 21px;
        height: 38px;
        border-right: 1px solid #fff; }
      .main-menu .navbar-nav {
        position: absolute;
        left: 5px;
        top: 60px;
        background: #fff;
        padding: 0; }
        .main-menu .navbar-nav a {
          color: #1C2429 !important;
          line-height: 20px; }
      .main-menu .navbar-brand {
        padding: 0;
        margin: auto; } }
  @media (max-width: 569.98px) {
    .main-menu {
      padding: 17px 75px 0 0px; } }

.user-menu {
  float: right;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: -5px;
  top: -65px; }
  @media (max-width: 1440px) {
    .user-menu {
      position: absolute;
      top: 0;
      right: 30px; } }
  .user-menu .navbar-nav {
    position: absolute;
    right: -10px;
    top: 60px;
    background: #fff;
    z-index: 10000;
    padding-left: 20px; }
    .user-menu .navbar-nav a {
      color: #1C2429 !important;
      font-size: 15px;
      line-height: 20px; }
  .user-menu .navbar-collapse {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 257px;
    z-index: 10000; }
  .user-menu .navbar-toggler {
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    padding-left: 21px;
    position: absolute;
    right: 7px;
    top: 16px;
    outline: none;
    width: 50px;
    height: 38px;
    border-left: 1px solid #fff !important; }
  .user-menu .navbar-toggler-icon {
    background-image: url("../img/key-icon.svg");
    width: 28px;
    height: 11px; }
  .user-menu .nav-item {
    margin-right: 21px;
    padding: 10px 0; }
    .user-menu .nav-item a {
      padding: 0; }
  .user-menu .user {
    border-bottom: 1px solid #DBDCE5;
    padding: 10px 0 13px 0; }
    .user-menu .user .avatar {
      padding-right: 10px; }
      .user-menu .user .avatar img {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 100px;
                border-radius: 100px; }
    .user-menu .user .name {
      color: #1C2429; }
  .user-menu .tbord {
    padding-top: 17px;
    margin-top: 10px;
    border-top: 1px solid #DBDCE5; }
  .user-menu .settings, .user-menu .exit {
    display: block; }
    .user-menu .settings a, .user-menu .exit a {
      color: #525D7D !important; }
      .user-menu .settings a:before, .user-menu .exit a:before {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px; }
  .user-menu .settings a:before {
    content: url(../img/settings.svg); }
  .user-menu .exit a:before {
    padding-left: 1px;
    content: url(../img/exit.svg); }

.white-menu {
  background-color: #F2F4F9; }
  .white-menu a {
    color: #1C2429 !important; }
  .white-menu .main-menu .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(28, 36, 41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .white-menu .user-menu .navbar-toggler {
    border-left: 1px solid #1C2429 !important; }
  .white-menu .user-menu .navbar-toggler-icon {
    background-image: url("../img/key-icon-black.svg"); }
  @media (max-width: 659px) {
    .white-menu .user-menu .navbar-toggler {
      border: none !important; } }
  .white-menu .main-menu .navbar-toggler {
    border-right: 1px solid #1C2429; }
  .white-menu .main-menu .navbar-brand {
    background-image: url("../img/logo-black.svg"); }

@media (max-width: 659px) {
  .user-menu .navbar-toggler, .main-menu .navbar-toggler {
    border: none !important; } }

.last-posts {
  position: relative;
  margin-top: 100px; }
  @media (max-width: 530px) {
    .last-posts {
      margin-top: 54px; } }
  .last-posts h3 {
    margin-top: 20px; }
  .last-posts p {
    line-height: 30px;
    margin-top: 16px; }
  .last-posts .views {
    display: block;
    margin-top: 40px; }
  .last-posts .big-post {
    max-width: 609px;
    padding: 0;
    position: relative;
    left: 5%;
    top: 0; }
    .last-posts .big-post .views {
      margin-top: 45px;
      padding-bottom: 80px; }
    @media (max-width: 696px) {
      .last-posts .big-post {
        max-width: 100%;
        left: 0;
        position: unset;
        padding: 0 44px; } }
    @media (max-width: 659px) {
      .last-posts .big-post .hl55 {
        line-height: 34px;
        font-size: 29px; }
      .last-posts .big-post p {
        font-size: 15px; } }
    @media (max-width: 406px) {
      .last-posts .big-post {
        padding-left: 20px; }
        .last-posts .big-post p {
          line-height: 22px; }
        .last-posts .big-post .views {
          padding-bottom: 16px; } }
  .last-posts .post-list {
    max-width: 330px;
    position: absolute;
    right: 4%; }
    .last-posts .post-list h2 {
      font-family: "Montserrat-Bold";
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 11px;
      text-transform: uppercase; }
    .last-posts .post-list ul {
      border-top: 1px solid #fff;
      list-style-type: none;
      padding: 0; }
      .last-posts .post-list ul li {
        padding: 20px 0 10px 0; }
      .last-posts .post-list ul .views {
        margin-top: 10px; }
    @media (max-width: 1089px) {
      .last-posts .post-list {
        display: none; } }

/******************head end*******************/
.post a, .post a:hover, .place a, .place a:hover, .question-list a, .question-list a:hover, .popular a, .popular a:hover {
  color: #1C2429; }

.last-posts2 {
  position: relative;
  margin-top: 32px;
  padding-left: -webkit-calc(100% / 2 - 1290px / 2);
  padding-left: calc(100% / 2 - 1290px / 2);
  padding-right: -webkit-calc(100% / 2 - 1290px / 2);
  padding-right: calc(100% / 2 - 1290px / 2); }
  .last-posts2 .y-line {
    background: url("../img/post-y-line.svg") no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position-x: center;
    -webkit-background-clip: content-box;
            background-clip: content-box;
    text-align: center;
    z-index: 1000; }
    .last-posts2 .y-line a {
      color: #1C2429; }
      .last-posts2 .y-line a:hover {
        color: #1C2429; }
  .last-posts2 .banner {
    height: 600px;
    max-width: 330px; }
    .last-posts2 .banner img {
      width: 100%; }
  @media (max-width: 1319.98px) {
    .last-posts2 .post-list {
      padding: 0;
      max-width: 964px; }
    .last-posts2 .banner {
      max-width: 300px;
      position: absolute;
      right: -webkit-calc(100% / 2 - 960px / 2);
      right: calc(100% / 2 - 960px / 2);
      top: 100%;
      padding: 34px 0 0 0; } }
  @media (max-width: 659.98px) {
    .last-posts2 .post-list {
      padding: 0 15px; }
      .last-posts2 .post-list .date {
        left: 20px; }
      .last-posts2 .post-list .views-blk {
        margin-right: 0; } }

.follow {
  margin-top: 32px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F4F9), to(#FFFFFF));
  background: -webkit-linear-gradient(top, #F2F4F9 0%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #F2F4F9 0%, #FFFFFF 100%);
  background: linear-gradient(180deg, #F2F4F9 0%, #FFFFFF 100%);
  max-width: 964px;
  margin: 32px 0; }
  .follow .f-text {
    max-width: 408px;
    width: 408px;
    -webkit-box-flex: content;
    -webkit-flex: content;
        -ms-flex: content;
            flex: content; }
  .follow .f-form {
    padding-left: 40px;
    -webkit-box-flex: content;
    -webkit-flex: content;
        -ms-flex: content;
            flex: content;
    max-width: 560px;
    width: 560px; }
  .follow h2 {
    padding: 40px 0 0 30px; }
  .follow p {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 47px 30px;
    margin: 0;
    opacity: 0.3; }
  .follow form {
    font-size: 16px;
    line-height: 20px;
    margin-top: 60px; }
    .follow form input {
      padding: 14px 20px;
      width: 308px;
      height: 48px;
      border: 1px solid #E3E5E5;
      -webkit-border-radius: 0;
              border-radius: 0;
      color: #525D7D; }
      .follow form input:placeholder {
        opacity: 0.2; }
    .follow form button {
      position: absolute;
      right: 50px;
      top: 60px;
      font-family: "Montserrat-Bold";
      color: #fff;
      padding: 15px 13px 13px 12px;
      border: none;
      background: #1C2029; }
  @media (max-width: 1319.98px) {
    .follow {
      max-width: 990px; } }
  @media (max-width: 991.98px) {
    .follow h2 {
      padding-left: 20px; }
    .follow p {
      padding: 0 0 0 20px;
      max-width: 373px;
      opacity: 1; }
    .follow .f-text {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 66.666667%;
          -ms-flex: 0 0 66.666667%;
              flex: 0 0 66.666667%;
      max-width: 66.666667%;
      width: 100%; }
    .follow .f-form {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      padding-left: 0; }
    .follow form {
      padding-left: 20px;
      margin: 30px 0; }
      .follow form input {
        width: 404px; }
      .follow form button {
        top: 30px;
        right: 55px; } }
  @media (max-width: 659.98px) {
    .follow {
      margin: 0 -15px; }
      .follow h2 {
        margin-bottom: 15px; }
      .follow p, .follow form input {
        width: 260px; }
      .follow form button {
        left: 0;
        margin-top: 15px;
        position: inherit; } }

.info {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F4F9), to(#FFFFFF));
  background: -webkit-linear-gradient(top, #F2F4F9 0%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #F2F4F9 0%, #FFFFFF 100%);
  background: linear-gradient(180deg, #F2F4F9 0%, #FFFFFF 100%);
  height: 231px; }

.post {
  height: 400px;
  max-width: 330px;
  -webkit-background-clip: content-box;
          background-clip: content-box; }
  .post .thumb {
    height: 169px;
    max-height: 169px;
    max-width: 300px; }
    .post .thumb img {
      width: 100%; }
  .post .category, .post .date {
    color: #1C2429;
    opacity: 0.5; }
  .post .category, .post h3 {
    margin: 0 20px 0 21px;
    padding-top: 20px; }
  .post .views-blk, .post .date {
    position: absolute; }
  .post .date {
    bottom: 10px;
    left: 40px;
    float: left; }
  .post .views-blk {
    margin-right: 20px;
    float: right;
    bottom: 10px;
    right: 20px; }
  @media (max-width: 659.98px) {
    .post {
      padding: 0;
      max-width: 300px;
      margin-bottom: 24px; } }

.big-wpost {
  max-width: 660px;
  height: 600px; }
  .big-wpost h3 {
    max-width: 440px; }
  .big-wpost .info {
    height: 246px; }

.views, .views-blk, .date, .comments-blk {
  font-family: "Montserrat-SemiBold";
  font-size: 15px;
  line-height: 18px; }

.views:before, .views-blk:before, .comments-blk:before {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px; }

.views:before {
  content: url("../img/view-icon.svg"); }

.views-blk:before {
  content: url("../img/view-black-icon.svg"); }

.comments-blk:before {
  content: url("../img/comments-blk.svg"); }

.fullthumb {
  background: #1C2429;
  background-blend-mode: multiply;
  -webkit-background-clip: content-box;
          background-clip: content-box;
  -webkit-background-size: cover;
          background-size: cover;
  background-position-x: center;
  text-align: center; }
  .fullthumb .info {
    height: 100%;
    background: none; }
  .fullthumb img {
    height: 100%;
    width: 100%; }
  .fullthumb .category {
    margin: auto;
    padding: 84px 0 18px 0;
    opacity: 1; }
  .fullthumb h3 {
    margin: 0;
    padding: 20px 0 42px 0; }
    .fullthumb h3 a {
      color: #fff; }
      .fullthumb h3 a:hover {
        color: #fff; }
  .fullthumb .date {
    color: #ABABAB; }
  .fullthumb .views-blk {
    position: unset;
    float: none; }

.topics, .topics-place {
  width: 300px;
  max-width: 300px;
  padding: 0;
  height: 600px;
  background: url("../img/topic-y-line.svg") no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-x: center;
  -webkit-background-clip: content-box;
          background-clip: content-box; }
  .topics a, .topics-place a {
    color: #000; }
  .topics .hb24, .topics-place .hb24 {
    display: block;
    margin: 40px 0 44px 0; }
  .topics ul, .topics-place ul {
    max-width: 236px;
    list-style-type: none;
    padding: 0;
    line-height: 20px;
    font-size: 15px;
    height: 400px; }
    .topics ul li, .topics-place ul li {
      width: 86px;
      display: inline-block;
      margin: 0 19px 31px 0; }
      .topics ul li a:hover, .topics ul li a:active, .topics-place ul li a:hover, .topics-place ul li a:active {
        font-family: "Montserrat-Bold"; }
  .topics .hb24, .topics ul, .topics-place .hb24, .topics-place ul {
    margin-left: 32px; }
  .topics .show-more, .topics-place .show-more {
    font-family: "Montserrat-SemiBold";
    font-size: 13px;
    float: right;
    margin: 21px 32px 0 0; }

.topics-place ul {
  margin-left: 43px; }
  .topics-place ul li {
    width: auto;
    margin: 0 19px 13px 0; }

.topics-place .hb24 {
  margin: 0px 0 44px 0;
  padding-top: 40px;
  padding-left: 43px; }

.journal {
  margin-top: 40px; }
  .journal .journal-heading {
    padding-left: -webkit-calc(100% / 2 - 1290px / 2 + 15px);
    padding-left: calc(100% / 2 - 1290px / 2 + 15px);
    padding-right: -webkit-calc(100% / 2 - 1290px / 2 - 16px);
    padding-right: calc(100% / 2 - 1290px / 2 - 16px); }
  .journal .big-post {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    max-width: 990px;
    padding: 0 0 0 30px; }
    .journal .big-post a, .journal .big-post p, .journal .big-post .category, .journal .big-post .views {
      color: #fff !important; }
    .journal .big-post .thumb {
      background-color: rgba(28, 36, 41, 0.9);
      background-blend-mode: multiply;
      width: 100%;
      height: 598px;
      display: block;
      -webkit-background-size: cover;
              background-size: cover; }
    .journal .big-post img {
      width: 100%; }
    .journal .big-post .category, .journal .big-post .views, .journal .big-post h3, .journal .big-post p {
      position: absolute;
      left: 81px; }
    .journal .big-post .category {
      top: 80px; }
    .journal .big-post h3 {
      top: 122px; }
    .journal .big-post p {
      max-width: 595px;
      bottom: 100px;
      line-height: 30px; }
    .journal .big-post .views {
      bottom: 60px; }
  .journal .popular {
    max-width: 330px;
    max-height: 600px;
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F4F9), to(#FFFFFF));
    background: -webkit-linear-gradient(top, #F2F4F9 0%, #FFFFFF 100%);
    background: -o-linear-gradient(top, #F2F4F9 0%, #FFFFFF 100%);
    background: linear-gradient(180deg, #F2F4F9 0%, #FFFFFF 100%);
    -webkit-background-clip: content-box;
            background-clip: content-box; }
    .journal .popular .wrap {
      height: 561px;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
    .journal .popular .hb24 {
      display: block;
      margin-top: 40px;
      margin-bottom: 24px; }
    .journal .popular .hb24, .journal .popular ul {
      padding-left: 20px;
      padding-right: 20px; }
    .journal .popular ul {
      list-style-type: none; }
      .journal .popular ul li {
        padding-bottom: 30px; }
    .journal .popular .views-blk {
      display: block;
      padding-top: 10px; }
    @media (min-width: 1319.98px) {
      .journal .popular {
        display: none; } }
  .journal .journal-plist {
    margin-top: 30px; }
    .journal .journal-plist .fullthumb .category {
      color: #F6FF00; }
    @media (max-width: 659.98px) {
      .journal .journal-plist .fullthumb .date {
        left: 20px !important; }
      .journal .journal-plist .post {
        margin-bottom: 32px; }
        .journal .journal-plist .post .views-blk {
          right: 35px;
          margin: 0; }
        .journal .journal-plist .post .date {
          left: 35px; } }
  @media (max-width: 1319.98px) {
    .journal .big-post {
      display: none; }
    .journal .topics {
      max-width: 315px;
      padding-left: 0;
      margin-left: -webkit-calc(100% / 2 - 964px / 2);
      margin-left: calc(100% / 2 - 964px / 2); } }
  @media (max-width: 991.98px) {
    .journal .topics {
      margin-right: 30px;
      margin-left: -webkit-calc(100% / 2 - 630px / 2);
      margin-left: calc(100% / 2 - 630px / 2); }
    .journal .popular {
      max-width: 300px;
      padding: 0; } }
  @media (max-width: 659.98px) {
    .journal {
      margin-top: 16px; }
      .journal .topics, .journal .popular {
        margin-right: -webkit-calc(100% / 2 - 300px / 2);
        margin-right: calc(100% / 2 - 300px / 2);
        margin-left: -webkit-calc(100% / 2 - 300px / 2);
        margin-left: calc(100% / 2 - 300px / 2);
        padding: 0; }
      .journal .popular {
        margin-top: 32px; }
      .journal .post {
        max-width: 330px;
        padding: 0 15px; } }
  @media (max-width: 320px) {
    .journal .post {
      padding: 0 10px; } }

.journal-category .category-title, .place-category .category-title {
  margin-bottom: 32px; }

.journal-category .last-posts2, .place-category .last-posts2 {
  margin-top: 0;
  margin-bottom: 0; }

.journal-category .post, .place-category .post {
  margin-top: 32px; }

.journal-category .big-post, .place-category .big-post {
  padding: 0 30px 0 0; }

.journal-category .big-wpost, .place-category .big-wpost {
  margin-top: 0px; }
  .journal-category .big-wpost img, .place-category .big-wpost img {
    height: 355px; }

.journal-category .fullthumb .category, .place-category .fullthumb .category {
  color: #F6FF00; }

.journal-category .y-line .category, .place-category .y-line .category {
  color: #1C2429;
  opacity: 0.5 !important; }

.journal-category .show-more button, .place-category .show-more button {
  max-width: 300px;
  border: none;
  background-color: #1C2029;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 15px 80px;
  outline: none;
  margin-bottom: 55px; }
  .journal-category .show-more button:active, .place-category .show-more button:active {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px); }

@media (max-width: 659px) {
  .journal-category .show-more button, .place-category .show-more button {
    padding: 15px 30px;
    width: 100%; } }

.journal-category .page-descr, .place-category .page-descr {
  margin-bottom: 40px; }
  .journal-category .page-descr p, .place-category .page-descr p {
    font-family: "Montserrat-Reg";
    font-size: 15px;
    line-height: 24px; }

@media (max-width: 1319.98px) {
  .journal-category .journal-heading, .place-category .journal-heading {
    position: relative;
    top: 432px;
    margin-top: -595px; }
    .journal-category .journal-heading .big-post, .place-category .journal-heading .big-post {
      display: block;
      position: relative;
      bottom: -1232px;
      left: -webkit-calc(100% / 2 - 964px / 2 - 5px);
      left: calc(100% / 2 - 964px / 2 - 5px); }
  .journal-category .topics, .place-category .topics {
    margin-left: -webkit-calc(100% / 2 - 964px / 2 - 15px);
    margin-left: calc(100% / 2 - 964px / 2 - 15px);
    margin-right: 10px; }
  .journal-category .relative, .place-category .relative {
    position: relative;
    top: -632px; }
  .journal-category .mt-664, .place-category .mt-664 {
    margin-top: 664px; }
  .journal-category .freeadslot .col-xl-3, .place-category .freeadslot .col-xl-3 {
    max-width: 330px; } }

@media (min-width: 991.98px) {
  .journal-category .big-wpost .info, .place-category .big-wpost .info {
    background-image: none !important; } }

@media (max-width: 1305.98px) {
  .journal-category .journal-heading .big-post, .place-category .journal-heading .big-post {
    left: -webkit-calc(100% / 2 - 964px / 2);
    left: calc(100% / 2 - 964px / 2); }
  .journal-category .topics, .place-category .topics {
    margin-left: -webkit-calc(100% / 2 - 964px / 2 - 10px);
    margin-left: calc(100% / 2 - 964px / 2 - 10px); } }

@media (max-width: 991.98px) {
  .journal-category .relative-md, .place-category .relative-md {
    position: relative;
    top: -600px; }
  .journal-category .popular, .place-category .popular {
    position: relative;
    top: 464px;
    left: 346px; }
  .journal-category .topics, .place-category .topics {
    margin-left: -webkit-calc(100% / 2 - 630px / 2);
    margin-left: calc(100% / 2 - 630px / 2);
    top: -720px; }
  .journal-category .relative, .place-category .relative {
    position: relative;
    top: -5px; }
  .journal-category .freeadslot.relative-md, .place-category .freeadslot.relative-md {
    position: relative;
    top: 33px; }
  .journal-category .mt-664, .place-category .mt-664 {
    margin-top: 27px; }
  .journal-category .big-wpost, .place-category .big-wpost {
    height: 400px; }
    .journal-category .big-wpost img, .place-category .big-wpost img {
      height: 400px; }
    .journal-category .big-wpost .info, .place-category .big-wpost .info {
      background-color: rgba(28, 36, 41, 0.9);
      background-blend-mode: multiply;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: top center;
      position: absolute;
      top: 0;
      width: 630px;
      height: 400px;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .journal-category .big-wpost .info .category, .place-category .big-wpost .info .category {
        padding-top: 68px;
        color: #F6FF00;
        opacity: 1;
        margin-left: 32px; }
      .journal-category .big-wpost .info .hl40, .place-category .big-wpost .info .hl40 {
        font-size: 36px;
        line-height: 40px;
        padding-top: 24px;
        margin-left: 32px; }
        .journal-category .big-wpost .info .hl40 a, .place-category .big-wpost .info .hl40 a {
          color: #fff; }
      .journal-category .big-wpost .info p, .place-category .big-wpost .info p {
        color: #fff;
        margin-left: 32px;
        padding-top: 16px;
        line-height: 30px; }
      .journal-category .big-wpost .info .views-blk, .place-category .big-wpost .info .views-blk {
        left: 32px;
        color: #fff;
        bottom: 43px; }
        .journal-category .big-wpost .info .views-blk::before, .place-category .big-wpost .info .views-blk::before {
          content: url("../img/view-icon.svg"); } }

@media (max-width: 659.98px) {
  .journal-category .post-list, .place-category .post-list {
    margin-left: -webkit-calc(100% / 2 - 330px / 2);
    margin-left: calc(100% / 2 - 330px / 2);
    margin-right: -webkit-calc(100% / 2 - 330px / 2);
    margin-right: calc(100% / 2 - 330px / 2); }
  .journal-category .hb55, .place-category .hb55 {
    font-size: 30px;
    line-height: 34px; }
  .journal-category .category-descr, .place-category .category-descr {
    font-size: 15px;
    line-height: 22px; }
  .journal-category .post, .place-category .post {
    max-width: 330px;
    width: 330px; }
    .journal-category .post .date, .place-category .post .date {
      left: 40px; }
    .journal-category .post .views-blk, .place-category .post .views-blk {
      right: 40px; }
  .journal-category .big-wpost, .place-category .big-wpost {
    width: 330px; }
    .journal-category .big-wpost .info, .place-category .big-wpost .info {
      max-width: 300px;
      text-align: center;
      margin-left: 0; }
      .journal-category .big-wpost .info .hl40, .place-category .big-wpost .info .hl40 {
        font-size: 36px;
        line-height: 40px; }
      .journal-category .big-wpost .info .hl40, .journal-category .big-wpost .info .category, .journal-category .big-wpost .info .views-blk, .place-category .big-wpost .info .hl40, .place-category .big-wpost .info .category, .place-category .big-wpost .info .views-blk {
        margin: 0; }
      .journal-category .big-wpost .info .views-blk, .place-category .big-wpost .info .views-blk {
        left: 0;
        right: 0; }
    .journal-category .big-wpost img, .place-category .big-wpost img {
      display: none; }
  .journal-category .popular, .place-category .popular {
    top: -24px;
    left: 0; }
  .journal-category .relative-md, .place-category .relative-md {
    top: -22px; }
  .journal-category .topics, .place-category .topics {
    top: -166px;
    margin-left: -webkit-calc(100% / 2 - 300px / 2);
    margin-left: calc(100% / 2 - 300px / 2); }
  .journal-category .freeadslot.relative-md, .place-category .freeadslot.relative-md {
    top: 586px; }
  .journal-category .relative, .place-category .relative {
    top: 549px; }
  .journal-category .mt-664, .place-category .mt-664 {
    margin-top: 557px; } }

@media (max-width: 330px) {
  .journal-category .post-list, .place-category .post-list {
    margin-right: -webkit-calc(100% / 2 - 320px / 2);
    margin-right: calc(100% / 2 - 320px / 2);
    margin-left: -webkit-calc(100% / 2 - 320px / 2);
    margin-left: calc(100% / 2 - 320px / 2); }
  .journal-category .big-wpost .info, .place-category .big-wpost .info {
    max-width: 300px; }
  .journal-category .post, .place-category .post {
    width: 320px;
    padding: 0 10px; } }

.article {
  padding-top: 54px; }
  .article .topics {
    padding-top: 1px; }
  .article .banner {
    max-width: 300px;
    width: 300px;
    padding: 34px 0; }
  .article .article-content {
    background-color: #FFFFFF;
    -webkit-background-clip: content-box;
            background-clip: content-box; }
    .article .article-content .wrap {
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
      height: 100%; }
  .article .article-prev {
    height: 543px;
    background-color: rgba(28, 36, 41, 0.8);
    background-blend-mode: multiply;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: top center;
    position: relative; }
    .article .article-prev h1 {
      color: #fff;
      vertical-align: bottom;
      position: absolute;
      bottom: 32px;
      left: 32px;
      max-width: 792px; }
  .article .article-metainfo {
    padding: 30px 45px 24px 45px;
    position: relative; }
    .article .article-metainfo .views-blk {
      padding-right: 20px; }
    .article .article-metainfo .breadcrumbs {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .article .article-metainfo .breadcrumbs .breadcrumb {
        padding-right: 15px; }
        .article .article-metainfo .breadcrumbs .breadcrumb a {
          font-family: "Montserrat-Reg";
          line-height: 20px;
          font-size: 15px;
          color: #2F333D;
          padding: 8px 10px;
          border: 1px solid #DBDCE5;
          -webkit-border-radius: 1px;
                  border-radius: 1px; }
      .article .article-metainfo .breadcrumbs .last-breadcrumb a {
        background-color: #1C2429;
        color: #fff; }
        .article .article-metainfo .breadcrumbs .last-breadcrumb a:hover {
          color: #fff; }
    .article .article-metainfo .article-stat {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    .article .article-metainfo .article-author {
      position: absolute;
      right: 0;
      top: -7px; }
      .article .article-metainfo .article-author span {
        display: block; }
      .article .article-metainfo .article-author .author {
        font-family: "Montserrat-SemiBold";
        font-size: 15px;
        line-height: 18px; }
      .article .article-metainfo .article-author .post-date {
        font-family: "Montserrat-Reg";
        font-size: 13px;
        line-height: 16px; }
  .article .article-text {
    padding: 0 45px; }
    .article .article-text h2 {
      font-size: 36px;
      line-height: 40px; }
    .article .article-text h2, .article .article-text h3, .article .article-text h4 {
      font-family: "Montserrat-Light";
      margin-bottom: 24px; }
    .article .article-text p {
      font-family: "Montserrat-Reg";
      line-height: 34px;
      font-size: 18px;
      padding-bottom: 32px; }
    .article .article-text img {
      margin: 24px 0;
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block; }
    .article .article-text .quote {
      background-image: url("../img/quote-bg.svg");
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 0 24px 0;
      padding: 0px 7px;
      font-family: "Montserrat-Reg";
      line-height: 54px;
      font-size: 36px;
      text-align: center;
      vertical-align: middle; }
    .article .article-text .announcement {
      margin-bottom: 24px; }
      .article .article-text .announcement p {
        font-family: "Montserrat-Light";
        line-height: 40px;
        font-size: 24px; }
    .article .article-text .similar-articles {
      margin: -66px 0 0 0; }
      .article .article-text .similar-articles h3 {
        display: table-cell;
        vertical-align: top; }
      .article .article-text .similar-articles a {
        color: #1C2429;
        display: table-cell; }
        .article .article-text .similar-articles a:hover {
          color: #1C2429; }
      .article .article-text .similar-articles img {
        margin: 0 15px 0 0;
        width: 160px;
        height: 90px;
        max-width: 160px; }
    .article .article-text .similar-articles h4, .article .article-text .like-article h4 {
      margin-bottom: 25px;
      font-family: "Montserrat-Bold";
      line-height: 13px;
      font-size: 16px; }
    .article .article-text .like-article {
      font-family: "Montserrat-Reg";
      margin: 0 0 45px 0px; }
      .article .article-text .like-article .in-favourite, .article .article-text .like-article .rating, .article .article-text .like-article .share {
        display: inline-block; }
      .article .article-text .like-article .social a {
        line-height: 20px;
        font-size: 15px;
        padding: 8px 10px;
        margin-right: 15px;
        color: #fff;
        -webkit-border-radius: 1px;
                border-radius: 1px; }
        .article .article-text .like-article .social a:hover {
          color: #fff; }
      .article .article-text .like-article .vk a {
        background-color: #4671A0; }
      .article .article-text .like-article .fb a {
        background-color: #39579A; }
      .article .article-text .like-article .twitter a {
        background-color: #01A5EF; }
      .article .article-text .like-article .rating {
        line-height: 20px;
        font-size: 15px;
        margin-left: 15px; }
        .article .article-text .like-article .rating img {
          display: inline-block;
          width: 125px;
          margin: 0 10px 0 0; }
        .article .article-text .like-article .rating .total {
          vertical-align: middle; }
      .article .article-text .like-article .in-favourite {
        margin: 0 0 0 40px; }
        .article .article-text .like-article .in-favourite a {
          color: #1C2429; }
          .article .article-text .like-article .in-favourite a:hover {
            color: #1C2429; }
        .article .article-text .like-article .in-favourite span {
          vertical-align: middle; }
        .article .article-text .like-article .in-favourite img {
          width: 24px;
          height: 20px;
          display: inline-block;
          margin: 0 10px 2px 0; }
    .article .article-text .follow {
      margin-left: 59px; }
  .article .comments {
    padding: 0 45px; }
    .article .comments .hl40 {
      margin: 0 0 44px -4px; }
    .article .comments .comment-text {
      background-color: #F9F9FB;
      margin-bottom: 25px;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover; }
      .article .comments .comment-text .triangle-down {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 16px solid #F9F9FB;
        margin-left: 22px;
        position: relative;
        bottom: -37px; }
      .article .comments .comment-text p {
        line-height: 24px;
        font-size: 15px;
        padding: 20px 20px 36px 20px; }
    .article .comments .comment-author {
      margin: 10px 0 30px 0; }
      .article .comments .comment-author img {
        margin: 0;
        -webkit-border-radius: 100px;
                border-radius: 100px;
        width: 50px;
        height: 50px;
        display: inline-block; }
      .article .comments .comment-author .name {
        padding-left: 10px; }
    .article .comments .add-comment {
      margin-bottom: 10px; }
      .article .comments .add-comment .comment-author {
        display: inline-block; }
      .article .comments .add-comment form textarea {
        width: 100%;
        border: 1px solid #DBDCE5;
        padding: 20px 20px;
        line-height: 24px;
        font-size: 15px; }
        .article .comments .add-comment form textarea::-webkit-input-placeholder {
          opacity: 1;
          color: #1C2429; }
        .article .comments .add-comment form textarea::-moz-placeholder {
          opacity: 1;
          color: #1C2429; }
        .article .comments .add-comment form textarea:-ms-input-placeholder {
          opacity: 1;
          color: #1C2429; }
        .article .comments .add-comment form textarea::-ms-input-placeholder {
          opacity: 1;
          color: #1C2429; }
        .article .comments .add-comment form textarea::placeholder {
          opacity: 1;
          color: #1C2429; }
      .article .comments .add-comment form button {
        float: right;
        margin-top: 10px;
        font-family: "Montserrat-Bold";
        line-height: normal;
        font-size: 16px;
        text-align: center;
        color: #fff;
        padding: 16px 70px 14px 70px;
        background-color: #1C2029;
        border: 1px solid #1C2029; }
        .article .comments .add-comment form button:active {
          -webkit-transform: translateY(1px);
              -ms-transform: translateY(1px);
                  transform: translateY(1px); }
  .article .follow {
    margin-left: -webkit-calc(100% / 2 - 1290px / 2);
    margin-left: calc(100% / 2 - 1290px / 2); }
  @media (max-width: 1319.98px) {
    .article .follow {
      max-width: 964px;
      margin-left: -webkit-calc(100% / 2 - 964px / 2);
      margin-left: calc(100% / 2 - 964px / 2); } }
  @media (max-width: 991.98px) {
    .article {
      padding-top: 32px; }
      .article .article-prev {
        height: 355px; }
        .article .article-prev h1 {
          padding-right: 24px;
          bottom: 24px;
          left: 24px; }
        .article .article-prev .hl72 {
          line-height: 70px;
          font-size: 55px; }
      .article .article-stat {
        display: inline-block !important;
        vertical-align: top;
        margin-top: -10px; }
        .article .article-stat .comments-blk {
          display: block; }
      .article .quote {
        -webkit-background-size: contain;
                background-size: contain; }
      .article .similar-articles .col-lg-6 {
        margin-bottom: 16px; }
      .article .article-text .like-article {
        margin: 0 0 32px 0; }
        .article .article-text .like-article .in-favourite {
          margin: 0 0 0 22px; }
          .article .article-text .like-article .in-favourite img {
            margin: -10px 0 0 0;
            width: 29px;
            height: 24px; }
          .article .article-text .like-article .in-favourite a {
            font-size: 0; }
      .article .comments .hl40 {
        margin: 0 0 24px -4px; }
      .article .follow {
        max-width: 630px;
        margin-left: -webkit-calc(100% / 2 - 630px / 2);
        margin-left: calc(100% / 2 - 630px / 2); } }
  @media (max-width: 659px) {
    .article {
      padding-top: 17px; }
      .article .p-calc.main {
        padding-left: -webkit-calc(100% / 2 - 360px / 2);
        padding-left: calc(100% / 2 - 360px / 2);
        padding-right: -webkit-calc(100% / 2 - 360px / 2);
        padding-right: calc(100% / 2 - 360px / 2); }
      .article .article-prev {
        height: 240px; }
        .article .article-prev .hl72 {
          line-height: 34px;
          font-size: 30px; }
      .article .article-metainfo {
        padding: 12px 45px 24px 45px; }
        .article .article-metainfo .breadcrumbs {
          margin-top: 65px;
          display: inline-block;
          white-space: nowrap; }
          .article .article-metainfo .breadcrumbs .breadcrumb {
            padding-right: 15px;
            display: inline-block;
            margin-bottom: 20px; }
          .article .article-metainfo .breadcrumbs .last-breadcrumb {
            padding-right: 0; }
        .article .article-metainfo .article-stat {
          position: absolute;
          top: 10px;
          margin-top: 0;
          left: 0; }
          .article .article-metainfo .article-stat .comments-blk {
            display: inline-block; }
        .article .article-metainfo .article-author {
          right: 5px;
          top: 10px; }
      .article .article-text .announcement p {
        line-height: 32px;
        font-size: 18px; }
      .article .article-text p {
        font-size: 16px;
        line-height: 30px; }
      .article .article-text h2 {
        font-size: 24px;
        line-height: 30px; }
      .article .article-text h2, .article .article-text h3, .article .article-text h4 {
        margin-bottom: 21px; }
      .article .article-text .quote {
        line-height: 36px;
        font-size: 24px; }
      .article .article-text .similar-articles img {
        display: none; }
      .article .article-text .similar-articles .col-lg-6 {
        margin-bottom: 32px; }
        .article .article-text .similar-articles .col-lg-6:last-child {
          margin-bottom: 0; }
      .article .article-text .like-article {
        margin-bottom: 25px; }
        .article .article-text .like-article .share {
          margin-bottom: 24px; }
          .article .article-text .like-article .share .social a {
            margin-right: 6px !important; }
          .article .article-text .like-article .share .social:last-child a {
            margin-right: 0; }
        .article .article-text .like-article .rating {
          margin-left: 0; }
        .article .article-text .like-article .in-favourite {
          float: right; }
      .article .comments .comment-text p {
        line-height: 30px;
        font-size: 16px;
        padding-bottom: 10px; }
      .article .comments .add-comment .comment-author {
        margin: 16px 0 9px 0; }
      .article .comments .add-comment form button {
        margin-bottom: 40px;
        padding: 16px 23px 14px 23px;
        width: 100%; }
      .article .follow {
        max-width: 300px;
        margin-top: 32px;
        margin-left: -webkit-calc(100% / 2 - 300px / 2);
        margin-left: calc(100% / 2 - 300px / 2); } }
  @media (max-width: 390px) {
    .article .article-content {
      padding-left: -webkit-calc(100% / 2 - 360px / 2);
      padding-left: calc(100% / 2 - 360px / 2);
      padding-right: -webkit-calc(100% / 2 - 360px / 2);
      padding-right: calc(100% / 2 - 360px / 2); }
    .article .article-metainfo, .article .article-text, .article .comments {
      max-width: 300px;
      margin: auto; }
    .article .article-metainfo, .article .article-text, .article .comments {
      padding-right: 0;
      padding-left: 0; } }
  @media (max-width: 360px) {
    .article .article-content {
      padding-left: -webkit-calc(100% / 2 - 320px / 2);
      padding-left: calc(100% / 2 - 320px / 2);
      padding-right: -webkit-calc(100% / 2 - 320px / 2);
      padding-right: calc(100% / 2 - 320px / 2); }
    .article .similar-articles .row {
      margin: auto; }
    .article .similar-articles .col-lg-6 {
      padding-left: 0; }
    .article .article-text, .article .comments {
      padding-top: 0;
      padding-right: -webkit-calc(100% / 2 - 320px / 2);
      padding-right: calc(100% / 2 - 320px / 2);
      padding-bottom: 0;
      padding-left: -webkit-calc(100% / 2 - 320px / 2);
      padding-left: calc(100% / 2 - 320px / 2); } }

.freeadslot {
  margin-top: 32px;
  margin-bottom: 32px; }
  .freeadslot img {
    width: 100%; }
  @media (max-width: 320px) {
    .freeadslot .col-md-6 {
      padding: 0 10px;
      max-width: 320px;
      margin: auto; } }

.category {
  display: block;
  font-family: "Montserrat-Bold";
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase; }
  .category:before {
    content: '#'; }

.places {
  padding-top: 12px; }
  .places .place-filter {
    padding-bottom: 23px; }
  .places .club-type, .places .city, .places .subway {
    display: inline-block;
    padding-right: 42px;
    vertical-align: bottom; }
  .places .placemap {
    position: relative; }
  .places .topics {
    position: absolute;
    right: -webkit-calc(100% / 2 - 1296px / 2);
    right: calc(100% / 2 - 1296px / 2);
    bottom: -35px;
    width: 300px;
    padding: 0; }
    .places .topics .hb24, .places .topics ul {
      margin-left: 42px; }
    .places .topics ul {
      width: auto;
      line-height: 34px; }
      .places .topics ul li {
        width: auto;
        margin-bottom: 0;
        display: block; }
  @media (max-width: 1319.98px) {
    .places .topics {
      right: -webkit-calc(100% / 2 - 964px / 2);
      right: calc(100% / 2 - 964px / 2);
      padding: 0;
      width: 300px; } }
  @media (max-width: 991.98px) {
    .places .club-type, .places .city, .places .subway {
      padding-right: 20px; } }
  @media (max-width: 659.98px) {
    .places .city, .places .subway {
      padding-top: 20px; }
    .places .freeadslot {
      margin-bottom: 169px; } }

.place-category {
  margin-top: 54px;
  margin-bottom: 32px; }
  .place-category .category-title {
    margin-top: 2px;
    margin-bottom: 0;
    max-width: 800px; }
  .place-category .place {
    margin: 32px 0 0 0;
    max-width: 330px; }
  .place-category .seeing-now {
    margin-top: 32px; }
  .place-category .place-big {
    max-width: 660px;
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 660px;
    height: 400px;
    max-height: 400px;
    background-color: rgba(28, 36, 41, 0.9);
    background-blend-mode: multiply;
    -webkit-background-size: cover;
            background-size: cover;
    text-align: left; }
    .place-category .place-big .info {
      background: none;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .place-category .place-big .rating {
      padding: 121px 0 24px 10px; }
    .place-category .place-big .address {
      color: #fff;
      padding-left: 10px; }
    .place-category .place-big .category {
      color: #F6FF00;
      left: 45px; }
    .place-category .place-big .hl36 {
      max-width: 400px;
      padding-left: 30px;
      text-align: left; }
      .place-category .place-big .hl36 a {
        color: #fff; }
        .place-category .place-big .hl36 a:hover {
          color: #fff; }
  @media (max-width: 1319.98px) {
    .place-category {
      margin-top: 40px; } }
  @media (max-width: 991.98px) {
    .place-category {
      margin-top: 20px; }
      .place-category .post-list {
        max-width: 632px; } }
  @media (max-width: 659.98px) {
    .place-category {
      margin-top: 16px; }
      .place-category .category-title .hb55 {
        line-height: 34px;
        font-size: 30px; } }

.places-slider {
  padding: 0; }
  .places-slider .slide-wrapper {
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0; }
    @media (max-width: 1080px) {
      .places-slider .slide-wrapper {
        overflow-x: scroll; } }
    .places-slider .slide-wrapper .carousel {
      height: 400px;
      position: absolute;
      white-space: nowrap;
      padding: 0; }
      .places-slider .slide-wrapper .carousel .place {
        display: inline-block;
        height: 100%;
        white-space: normal; }

.map {
  padding: 0; }

#map {
  height: 489px; }

.popular-place {
  margin-bottom: 32px;
  margin-top: 40px; }

.place {
  padding: 0 15px;
  height: 400px;
  max-width: 332px;
  -webkit-background-clip: content-box;
          background-clip: content-box;
  text-align: center; }
  .place .thumb {
    display: block;
    height: 169px;
    max-height: 169px;
    max-width: 300px; }
    .place .thumb img {
      width: 100%; }
  .place .rating, .place .address, .place .hl24 {
    margin: 0 20px; }
  .place .rating {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 20px; }
  .place .address {
    display: block;
    padding-top: 17px; }
  .place .category {
    width: 300px;
    position: absolute;
    bottom: 20px;
    opacity: 1; }

.place-content .article-prev h1 {
  max-width: 830px; }

.place-content .article-text .like-article {
  padding-top: 32px; }

.place-content .article-text .hl36 {
  padding-top: 18px; }

.place-content .contacts, .place-content .work-time {
  margin-top: 20px; }
  .place-content .contacts th, .place-content .contacts td, .place-content .work-time th, .place-content .work-time td {
    font-family: 'Montserrat-Reg';
    font-size: 18px;
    line-height: 34px;
    text-align: left;
    padding-right: 8px;
    padding-bottom: 8px;
    font-weight: normal; }
  .place-content .contacts th, .place-content .work-time th {
    color: #A2A2A4; }

.place-content .place-info {
  padding-top: 21px; }
  .place-content .place-info a:hover, .place-content .place-info a {
    color: #2693C1; }
  .place-content .place-info .subway a:hover, .place-content .place-info .subway a {
    color: #00800B !important; }

.place-content .plce-in-map {
  padding-bottom: 26px; }

.place-content .reviews {
  padding-top: 32px; }

.place-content .place-services {
  color: #A2A2A4; }

@media (max-width: 991px) {
  .place-content .contacts, .place-content .work-time {
    margin-top: 22px; }
  .place-content .contacts {
    margin-bottom: 32px; } }

@media (max-width: 659px) {
  .hl72 {
    font-size: 30px;
    line-height: 34px; }
  .article .place-content .article-metainfo .breadcrumbs {
    margin-top: 10px !important;
    display: inline-block;
    white-space: nowrap; }
    .article .place-content .article-metainfo .breadcrumbs .breadcrumb {
      padding-right: 5px; }
    .article .place-content .article-metainfo .breadcrumbs .last-breadcrumb {
      padding-right: 0; }
  .article .place-content .contacts, .article .place-content .work-time {
    margin-top: 14px; }
  .article .place-content .place-info .hl24 {
    font-size: 18px;
    line-height: 32px; }
  .article .place-content .place-info .contacts th, .article .place-content .place-info .contacts td, .article .place-content .place-info .work-time th, .article .place-content .place-info .work-time td {
    font-size: 16px;
    line-height: 30px; }
  .article .place-content .hl36 {
    font-size: 24px;
    line-height: 30px; }
  .article .place-content .hl40 {
    font-size: 24px;
    line-height: 30px; } }

@media (max-width: 659px) and (max-width: 991.98px) {
  .contacts {
    margin-bottom: 32px; } }

.def-content .announcement {
  padding-top: 30px; }

.defenition .banner {
  padding: 0 0 0 17px; }

.defenition .last-posts2 .hb24 {
  margin-bottom: 24px; }

.defenition .show-more button {
  max-width: 300px;
  border: none;
  background-color: #1C2029;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 15px 80px;
  outline: none;
  margin-bottom: 55px; }
  .defenition .show-more button:active {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px); }

.defenition .question-list {
  padding-right: 32px;
  margin-bottom: 0 !important; }
  .defenition .question-list .qw-5 {
    max-width: 570px;
    margin: 0 0 0 0;
    padding-bottom: 30px;
    position: relative; }
  .defenition .question-list .qw-6 {
    max-width: 300px;
    margin: 0 0 0 26px; }
  .defenition .question-list .qw-5, .defenition .question-list .qw-6 {
    margin-bottom: 32px; }

.defenition .questions h3 {
  margin-bottom: 26px;
  padding-top: 32px;
  position: static !important; }

@media (max-width: 1319.98px) {
  .defenition .questions .question-list {
    max-width: 980px; }
    .defenition .questions .question-list .qw-5 {
      max-width: 632px; }
    .defenition .questions .question-list .qw-6 {
      margin: 0 0 0 32px; } }

@media (max-width: 991px) {
  .defenition .questions .question-list {
    max-width: 630px; }
    .defenition .questions .question-list .qw-6 {
      margin: 0 0 0 30px; }
  .defenition .questions .blk-md {
    margin: 0 0 32px 0 !important;
    background: #1C2029; }
    .defenition .questions .blk-md .name, .defenition .questions .blk-md .answers, .defenition .questions .blk-md a {
      color: #fff; } }

@media (max-width: 750px) {
  .defenition {
    padding: 32px 0 0 0; } }

@media (max-width: 659px) {
  .defenition {
    padding: 17px 0 0 0; }
    .defenition .questions .question-list {
      max-width: 300px; }
    .defenition .questions .qw-6 {
      margin: 32px 0 32px 0 !important; }
    .defenition .questions .blk-md {
      margin: 32px 0 0 0 !important; }
    .defenition .show-more {
      margin-top: 40px; }
      .defenition .show-more button {
        padding: 15px 30px;
        width: 100%; }
    .defenition h2 {
      font-size: 24px;
      line-height: 30px; }
    .defenition h2, .defenition h3, .defenition h4 {
      margin-bottom: 21px; } }

@media (max-width: 359.98px) {
  .defenition {
    padding-right: 0;
    padding-left: 0; } }

@media (max-width: 1319.98px) {
  .heading {
    padding: 0; } }

.about .article-text {
  margin-top: 22px; }

.about, .profile {
  margin-bottom: 40px; }
  .about .banner, .profile .banner {
    padding: 0 0 0 2px; }

.profile .wrap .row {
  margin-left: 0;
  margin-right: 0; }

.profile .avatar {
  margin: 32px 32px 57px 17px; }
  .profile .avatar img {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50px;
            border-radius: 50px; }

.profile .profile-info {
  margin-top: 32px; }
  .profile .profile-info .name {
    display: inline-block;
    margin-bottom: 22px; }

.profile .profile-header p, .profile .profile-header .hl24 {
  font-family: "Montserrat-Light";
  font-size: 24px;
  line-height: 40px; }

.profile .profile-header hr {
  border: 1px solid #DBDCE5;
  width: 898px;
  max-width: 898px;
  margin: 0 32px 22px 32px; }

.profile .profile-header .about-me {
  position: relative;
  top: -154px;
  left: 210px;
  margin-bottom: -150px; }
  .profile .profile-header .about-me p {
    padding-right: 52px; }

.profile .action-header, .profile .action-list {
  padding-left: 17px; }

.profile .action-header {
  margin-bottom: 42px; }
  .profile .action-header .show-all {
    font-size: 13px;
    line-height: 30px;
    font-family: 'Montserrat-Bold';
    text-align: right;
    padding-right: 47px; }
    .profile .action-header .show-all a {
      color: #1C2429; }

.profile .action-list .action {
  margin-bottom: 40px; }
  .profile .action-list .action .hl24 a {
    color: #1C2429; }
  .profile .action-list .action .what-do {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    margin-bottom: 14px; }
  .profile .action-list .action .topic-info {
    margin-top: 23px; }
    .profile .action-list .action .topic-info .category {
      display: inline-block;
      opacity: 0.5; }
    .profile .action-list .action .topic-info .category, .profile .action-list .action .topic-info .comments-blk {
      margin-left: 16px; }

@media (max-width: 991.98px) {
  .profile .avatar {
    margin: 16px 0 17px 0px; }
    .profile .avatar img {
      width: 80px;
      height: 80px; }
  .profile .profile-info {
    padding: 0; }
  .profile .profile-header hr {
    width: 598px;
    max-width: 598px;
    margin: 0 15px 22px 15px; }
  .profile .about-me {
    position: static !important;
    margin: 0 0 25px 0 !important;
    padding: 0 42px 0 15px; }
  .profile .action-header, .profile .action-list {
    margin-left: 0;
    padding-left: 0; } }

@media (max-width: 659.98px) {
  .profile .avatar {
    margin: 27px 0 22px 15px; }
    .profile .avatar img {
      width: 40px;
      height: 40px; }
  .profile .profile-header .profile-info .name {
    font-size: 24px !important;
    line-height: 30px !important; }
  .profile .profile-header hr {
    width: 300px !important;
    max-width: 300px !important;
    margin: 0 15px 22px 30px; }
  .profile .profile-header .about-me p {
    font-size: 18px !important;
    line-height: 32px !important;
    padding: 0 30px 0 14px; }
  .profile .action-header .show-all {
    margin-top: 15px;
    text-align: left; }
  .profile .action-header .hb24, .profile .action-header .show-all {
    padding-left: 30px; }
  .profile .action-list .action {
    padding-left: 30px; }
    .profile .action-list .action .hl24 {
      font-size: 18px !important;
      line-height: 32px !important;
      padding-right: 15px; }
    .profile .action-list .action .topic-info {
      margin-top: 15px; } }

@media (max-width: 360.98px) {
  .profile .avatar {
    margin: 27px 8px 22px 0px; }
  .profile .profile-header hr {
    margin: 0 15px 22px 15px; }
  .profile .profile-header .about-me p {
    padding: 0 15px 0 0; }
  .profile .profile-header .profile-info .name {
    font-size: 22px !important; }
  .profile .action-header .hb24, .profile .action-header .show-all {
    padding-left: 15px; }
  .profile .action-list .action {
    padding-left: 15px; }
    .profile .action-list .action .hl24 {
      padding-right: 15px; } }

.question-page .banner {
  padding: 0;
  margin-top: 32px; }

.question-page .topics {
  height: 540px;
  background: url("../img/question-y-line.svg") no-repeat;
  -webkit-background-clip: content-box;
          background-clip: content-box;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-x: center; }
  .question-page .topics .hb24 {
    margin: 30px 0 30px 32px; }
  .question-page .topics ul {
    margin-bottom: 0; }
  .question-page .topics .show-more {
    margin-top: 0; }

.question-page .category-title {
  margin-bottom: 18px; }

.question-page .avatar {
  display: inline-block; }
  .question-page .avatar img {
    width: 50px;
    height: 50px;
    margin: 0 0 40px 0; }

.question-page .qw-info {
  display: inline-block;
  margin-top: 5px;
  margin-left: 17px;
  margin-right: 0;
  margin-bottom: 0;
  vertical-align: top; }
  .question-page .qw-info span {
    display: block; }
  .question-page .qw-info .name {
    line-height: 19px;
    font-size: 15px;
    font-family: 'Montserrat-SemiBold'; }
  .question-page .qw-info .date {
    line-height: 16px;
    font-size: 13px;
    font-family: 'Montserrat-Reg'; }

@media (max-width: 991.98px) {
  .question-page .hl72 {
    line-height: 70px;
    font-size: 55px;
    padding-bottom: 0; }
  .question-page .article-stat {
    vertical-align: middle !important;
    margin-top: 0 !important; } }

@media (max-width: 659.98px) {
  .question-page .category-title {
    line-height: 34px;
    font-size: 30px;
    text-align: center; }
  .question-page .hl72 {
    line-height: 34px;
    font-size: 30px; }
  .question-page .announcement {
    padding-top: 0;
    margin-bottom: 0 !important; }
  .question-page .qw-author {
    display: none; } }

.ask-btn, .ask-btn:hover {
  line-height: 19px;
  font-size: 16px;
  font-family: 'Montserrat-Bold';
  color: #fff;
  padding: 16px 71px 16px 71px;
  background-color: #1C2029;
  display: inline-block;
  margin-top: 15px; }
  .ask-btn:active, .ask-btn:hover:active {
    -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
            transform: translateY(1px); }
  @media (max-width: 1319.98px) {
    .ask-btn, .ask-btn:hover {
      float: right; } }
  @media (max-width: 991.98px) {
    .ask-btn, .ask-btn:hover {
      float: left; } }
  @media (max-width: 659.98px) {
    .ask-btn, .ask-btn:hover {
      float: unset; } }

.questions-page .category-title p {
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 32px; }

.questions-page .ask-btn, .questions-page .ask-btn:hover {
  margin-top: 37px; }

@media (max-width: 1319.98px) {
  .questions-page .ask-btn, .questions-page .ask-btn:hover {
    margin-top: 0;
    position: absolute;
    bottom: 133px;
    left: 677px;
    width: 300px;
    text-align: center; } }

@media (max-width: 991.98px) {
  .questions-page .ask-btn, .questions-page .ask-btn:hover {
    bottom: -73px;
    left: 14px;
    z-index: 10000; } }

@media (max-width: 750.98px) {
  .questions-page {
    padding-right: 0;
    padding-left: 0; } }

@media (max-width: 659.98px) {
  .questions-page .category-title .hb55 {
    line-height: 34px;
    font-size: 30px; }
  .questions-page .category-title p {
    line-height: 22px;
    font-size: 15px;
    margin-bottom: 15px; }
  .questions-page .ask-btn, .questions-page .ask-btn:hover {
    position: static;
    margin-bottom: 16px; }
  .questions-page .question-topic .hb24 {
    display: none; } }

@media (max-width: 659.98px) {
  .defenition.questions-page .show-more {
    margin-top: 0; } }

.noimage {
  background: url("../img/noimage-place-bg.svg") no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position-x: center;
  -webkit-background-clip: content-box;
          background-clip: content-box; }
  .noimage .thumb img {
    margin: auto;
    padding-top: 58px;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: auto; }

.search-page {
  padding-top: 54px;
  padding-bottom: 40px; }
  .search-page .banner {
    max-width: 300px;
    width: 300px;
    padding: 0 0 0 17px; }
  .search-page .search-content {
    background-color: #FFFFFF;
    -webkit-background-clip: content-box;
            background-clip: content-box; }
    .search-page .search-content .wrap {
      margin-left: 0;
      margin-right: 0;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
      height: 100%;
      padding: 33px 32px 31px 32px;
      font-size: 15px; }
      .search-page .search-content .wrap .category-col {
        padding-left: 0;
        padding-right: 0;
        margin-right: 46px;
        max-width: 268px; }
        .search-page .search-content .wrap .category-col:nth-child(3) {
          margin-right: 0; }
      .search-page .search-content .wrap .scat-list {
        display: inline-block;
        padding-top: 21px;
        font-family: 'Montserrat-Reg';
        line-height: 32px; }
      .search-page .search-content .wrap a, .search-page .search-content .wrap a:hover {
        text-decoration: none;
        color: #000000; }
    .search-page .search-content .page-col {
      padding-right: 0;
      padding-left: 0;
      margin-right: 46px;
      margin-top: 87px;
      max-width: 268px; }
      .search-page .search-content .page-col .hb24 {
        margin: 0; }
  .search-page .searched {
    background-color: unset !important;
    margin: -8px 32px 0 32px; }
    .search-page .searched .hb24 {
      margin-bottom: 32px; }
    .search-page .searched .result {
      margin-bottom: 26px; }
      .search-page .searched .result h2 {
        text-transform: uppercase;
        font-family: 'Montserrat-Bold';
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 22px; }
        .search-page .searched .result h2 a, .search-page .searched .result h2 a:hover {
          color: #1C2429; }
      .search-page .searched .result p {
        line-height: 34px; }
    .search-page .searched .show-more {
      padding-top: 8px;
      float: left; }
      .search-page .searched .show-more button {
        max-width: 300px;
        border: none;
        background-color: #1C2029;
        font-family: "Montserrat-Bold";
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        padding: 15px 80px;
        outline: none;
        margin-bottom: 0; }
        .search-page .searched .show-more button:active {
          -webkit-transform: translateY(1px);
              -ms-transform: translateY(1px);
                  transform: translateY(1px); }
  .search-page .search-form {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 32px;
    margin-right: 32px;
    border-bottom: 2px solid #1C2429;
    padding-bottom: 15px; }
    .search-page .search-form input {
      width: 711px;
      max-width: 711px;
      height: 48px;
      border: none;
      background: none;
      color: #A2A2A4;
      font-family: 'Montserrat-Light';
      line-height: 50px;
      font-size: 40px;
      margin-right: 48px;
      vertical-align: top;
      outline: none; }
    .search-page .search-form button {
      background: #1C2029;
      color: #FFFFFF;
      line-height: 20px;
      font-size: 16px;
      font-family: 'Montserrat-Bold';
      border: none;
      padding: 14px 20px;
      width: 132px;
      max-width: 132px;
      height: 48px;
      outline: none; }
      .search-page .search-form button:active {
        -webkit-transform: translateY(1px);
            -ms-transform: translateY(1px);
                transform: translateY(1px); }
      .search-page .search-form button .fa-search {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url("../img/search.svg") no-repeat;
        background-position-x: center;
        -webkit-background-clip: content-box;
                background-clip: content-box;
        margin-right: 8px;
        vertical-align: middle; }
  @media (max-width: 1319.98px) {
    .search-page .search-form {
      margin-top: 0;
      margin-bottom: 40px;
      margin-left: 32px;
      margin-right: 32px; }
      .search-page .search-form input {
        margin-right: 52px; }
    .search-page .searched .show-more {
      float: unset; } }
  @media (max-width: 991.98px) {
    .search-page {
      padding-top: 32px; }
      .search-page .search-content .wrap {
        padding: 17px 14px 10px 14px !important; }
      .search-page .search-content .category-col {
        max-width: 100% !important;
        margin-right: 0 !important; }
        .search-page .search-content .category-col .scat-list {
          margin-bottom: 19px; }
      .search-page .search-content .page-col {
        margin-top: 0;
        margin-bottom: 24px; }
      .search-page .search-form {
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: 0;
        margin-right: 0; }
        .search-page .search-form input {
          width: 471px;
          max-width: 471px;
          margin-right: 22px; }
      .search-page .searched {
        margin: -8px 0 0 0; } }
  @media (max-width: 659.98px) {
    .search-page .searched {
      margin: -8px 0 0 0; }
      .search-page .searched .result, .search-page .searched .hb24 {
        width: 300px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto; }
        .search-page .searched .result p, .search-page .searched .hb24 p {
          line-height: 30px; }
    .search-page .p-calc {
      padding-left: -webkit-calc(100% / 2 - 360px / 2);
      padding-left: calc(100% / 2 - 360px / 2);
      padding-right: -webkit-calc(100% / 2 - 360px / 2);
      padding-right: calc(100% / 2 - 360px / 2); }
      .search-page .p-calc .col-xl-9 {
        padding-left: 0;
        padding-right: 0; }
    .search-page .search-content .wrap {
      padding: 25px 28px 17px 30px !important; }
    .search-page .search-form {
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 40px;
      margin-left: 30px;
      margin-right: 30px; }
      .search-page .search-form input {
        width: 277px;
        max-width: 277px;
        margin-right: 0; }
      .search-page .search-form button {
        padding: 14px 14px;
        width: 48px;
        max-width: 48px; }
        .search-page .search-form button .bnt-text {
          display: none; }
        .search-page .search-form button .fa-search {
          margin-right: 0; } }
  @media (max-width: 390.98px) {
    .search-page .search-form {
      width: 300px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto; }
      .search-page .search-form input {
        width: 247px;
        max-width: 247px;
        margin-right: 0; } }

.questions {
  max-width: 1290px;
  background: #fff;
  -webkit-background-clip: content-box;
          background-clip: content-box;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.0797668);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.0797668); }
  @media (max-width: 1319.98px) {
    .questions {
      max-width: 994px;
      padding: 0; } }
  @media (max-width: 991.98px) {
    .questions {
      max-width: 720px; } }
  @media (max-width: 750.98px) {
    .questions {
      margin: 0 -15px; } }
  @media (max-width: 659.98px) {
    .questions {
      max-width: 360px;
      margin: 0 auto; } }
  @media (max-width: 359.98px) {
    .questions {
      max-width: 360px;
      margin: 0 -15px; } }
  .questions .col-lg-9 {
    max-width: 955px; }
    @media (max-width: 1319.98px) {
      .questions .col-lg-9 {
        max-width: 662px; } }
  .questions .col-lg-3 {
    width: 330px;
    padding-right: 0px; }
  .questions .question-topic {
    margin-top: 32px; }
    .questions .question-topic .hb24 {
      float: left; }
    .questions .question-topic .nice-select {
      clear: none;
      float: right; }
      .questions .question-topic .nice-select .list {
        left: -30px;
        width: 180px; }
    @media (min-width: 992px) {
      .questions .question-topic {
        display: none; } }
    @media (max-width: 659.98px) {
      .questions .question-topic {
        margin-top: 20px; }
        .questions .question-topic .hb24 {
          margin-bottom: 8px; }
        .questions .question-topic .nice-select {
          clear: both;
          float: left; }
          .questions .question-topic .nice-select .list {
            left: 0; } }
  .questions .question-list, .questions .sidebar {
    margin-left: 0;
    margin-right: 0;
    margin-top: 32px;
    margin-bottom: 37px; }
  .questions .question-list {
    position: relative;
    padding-left: 32px;
    padding-right: 36px; }
    @media (max-width: 1319.98px) {
      .questions .question-list {
        max-width: 630px;
        padding-right: 0;
        padding-left: 0;
        margin-left: -webkit-calc(100% / 2 - 964px / 2);
        margin-left: calc(100% / 2 - 964px / 2); } }
    @media (max-width: 991.98px) {
      .questions .question-list {
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 659.98px) {
      .questions .question-list {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-right: 0px; } }
    .questions .question-list .name {
      font-family: "Montserrat-Reg";
      line-height: 24px;
      font-size: 15px;
      padding-left: 10px; }
    .questions .question-list .avatar {
      display: inline-block; }
      .questions .question-list .avatar img {
        width: 50px;
        height: 50px;
        -webkit-border-radius: 100px;
                border-radius: 100px; }
    .questions .question-list .answers {
      font-family: 'Montserrat-Bold';
      font-size: 15px;
      text-transform: uppercase; }
  .questions .qw-2, .questions .qw-3, .questions .qw-4, .questions .qw-5, .questions .qw-6, .questions .qw-7 {
    margin-top: 32px; }
  .questions .qw-1, .questions .qw-2, .questions .qw-5 {
    position: relative;
    padding: 0 40px; }
    .questions .qw-1 .answers, .questions .qw-2 .answers, .questions .qw-5 .answers {
      position: absolute;
      bottom: 30px;
      left: 40px; }
  .questions .qw-1, .questions .qw-4, .questions .qw-5, .questions .qw-6, .questions .qw-7 {
    background: #F9F9FB; }
    .questions .qw-1 .name, .questions .qw-4 .name, .questions .qw-5 .name, .questions .qw-6 .name, .questions .qw-7 .name {
      color: #1C2429; }
  .questions .qw-2, .questions .qw-3 {
    background: #1C2029; }
    .questions .qw-2 a, .questions .qw-2 p, .questions .qw-2 .name, .questions .qw-2 .answers, .questions .qw-3 a, .questions .qw-3 p, .questions .qw-3 .name, .questions .qw-3 .answers {
      color: #fff; }
  .questions .qw-3, .questions .qw-4, .questions .qw-6, .questions .qw-7 {
    position: relative;
    margin-left: 29px;
    padding: 0 20px;
    width: 300px;
    height: 284px; }
    .questions .qw-3 .avatar img, .questions .qw-4 .avatar img, .questions .qw-6 .avatar img, .questions .qw-7 .avatar img {
      width: 32px;
      height: 32px; }
    .questions .qw-3 h3, .questions .qw-4 h3, .questions .qw-6 h3, .questions .qw-7 h3 {
      max-width: 260px;
      position: absolute;
      bottom: 72px; }
    .questions .qw-3 .answers, .questions .qw-4 .answers, .questions .qw-6 .answers, .questions .qw-7 .answers {
      position: absolute;
      bottom: 30px;
      left: 20px; }
  .questions .qw-1 .avatar, .questions .qw-2 .avatar {
    margin-top: 40px; }
  .questions .qw-1 {
    height: 540px; }
    .questions .qw-1 h3 {
      margin: 0;
      padding-top: 126px;
      padding-bottom: 38px; }
    .questions .qw-1 p {
      padding-right: 39px; }
    .questions .qw-1 .answers {
      font-family: 'Montserrat-Bold';
      font-size: 15px;
      text-transform: uppercase; }
    @media (max-width: 1319.98px) {
      .questions .qw-1 {
        width: 632px;
        background: #1C2029; }
        .questions .qw-1 a, .questions .qw-1 p, .questions .qw-1 .name, .questions .qw-1 .answers {
          color: #fff; }
        .questions .qw-1 h3 {
          padding-top: 55px; } }
    @media (max-width: 991.98px) {
      .questions .qw-1 {
        background: #F9F9FB;
        height: 284px; }
        .questions .qw-1 a, .questions .qw-1 .name, .questions .qw-1 .answers {
          color: #1C2029; }
        .questions .qw-1 p {
          display: none; }
        .questions .qw-1 .avatar {
          margin-top: 30px; }
        .questions .qw-1 h3 {
          padding-top: 49px;
          line-height: 40px;
          font-size: 36px; } }
  .questions .qw-2 {
    max-width: 570px;
    height: 600px; }
    .questions .qw-2 h3 {
      margin: 0;
      padding-top: 80px;
      padding-bottom: 40px; }
    .questions .qw-2 p {
      padding-right: 10px; }
  .questions .qw-3 {
    padding-top: 20px; }
    @media (max-width: 1319.98px) {
      .questions .qw-3 {
        margin-left: 0; } }
  .questions .qw-4 {
    padding-top: 20px;
    position: absolute;
    right: 35px;
    bottom: 315px; }
    @media (max-width: 1319.98px) {
      .questions .qw-4 {
        position: inherit;
        right: 0;
        bottom: 0; } }
    @media (max-width: 659.98px) {
      .questions .qw-4 {
        margin-left: 0; } }
  .questions .qw-5 {
    padding-top: 30px;
    height: 284px;
    width: 570px; }
    .questions .qw-5 h3 {
      width: 490px;
      position: absolute;
      bottom: 72px; }
    @media (max-width: 1319.98px) {
      .questions .qw-5 {
        width: 632px; } }
  .questions .qw-6 {
    padding-top: 30px; }
  .questions .qw-7 {
    padding-top: 30px;
    left: 101%;
    top: -315px;
    margin-bottom: -315px; }
  .questions .sidebar {
    padding-left: 0;
    max-width: 100%;
    max-height: 1204px;
    position: relative; }
    .questions .sidebar .topics {
      padding-left: 0;
      padding-right: 0px;
      width: 300px;
      height: 540px;
      background: url("../img/question-y-line.svg") no-repeat;
      -webkit-background-clip: content-box;
              background-clip: content-box;
      -webkit-background-size: contain;
              background-size: contain;
      background-position-x: center; }
      .questions .sidebar .topics ul {
        margin-bottom: 5px; }
      .questions .sidebar .topics .hb24, .questions .sidebar .topics ul {
        margin-left: 29px; }
      .questions .sidebar .topics .hb24 {
        margin-bottom: 30px;
        margin-top: 30px; }
      .questions .sidebar .topics .show-more {
        margin-right: 30px;
        margin-top: 0px; }
    .questions .sidebar .banner {
      max-width: 300px;
      padding: 0;
      display: block; }
    @media (max-width: 1319.98px) {
      .questions .sidebar {
        padding-left: 32px; }
        .questions .sidebar .topics {
          padding-left: 0;
          padding-right: 0px; }
        .questions .sidebar .banner {
          padding-top: 32px; } }

footer {
  background: #1C2429; }
  footer .navbar {
    padding-left: 57px; }
  footer .navbar-brand {
    margin: 0;
    padding-right: 75px;
    padding-top: 11px;
    padding-bottom: 11px; }
    footer .navbar-brand img {
      width: 75px;
      height: 32px; }
  footer .nav-item {
    padding: 10px 20px 10px 20px;
    white-space: nowrap; }
    @media (max-width: 991.98px) {
      footer .nav-item {
        max-width: 236px;
        padding: 10px 15px; } }
  footer .navbar-nav {
    font-family: "Montserrat-Med";
    font-size: 15px; }
    footer .navbar-nav .nav-link {
      padding: 0;
      color: #fff !important; }
  @media (max-width: 569.98px) {
    footer .nav-item {
      width: 100%;
      padding: 5px 0; }
      footer .nav-item .nav-link {
        padding: 0 !important; }
    footer .navbar-expand {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
    footer .navbar {
      padding-left: -webkit-calc(100% / 2 - 300px / 2 + 5px);
      padding-left: calc(100% / 2 - 300px / 2 + 5px); } }
