@font-face
    font-family: "Montserrat-Med"
    src : url("../fonts/Montserrat/Montserrat-Medium.ttf")
@font-face
    font-family: "Montserrat-Bold"
    src : url("../fonts/Montserrat/Montserrat-Bold.ttf")
@font-face
    font-family: "Montserrat-Light"
    src : url("../fonts/Montserrat/Montserrat-Light.ttf")
@font-face
    font-family: "Montserrat-Reg"
    src : url("../fonts/Montserrat/Montserrat-Regular.ttf")
@font-face
    font-family: "Montserrat-SemiBold"
    src : url("../fonts/Montserrat/Montserrat-SemiBold.ttf")


body
	font-family: "Montserrat-Reg"
	background-color: #F2F4F9
	overflow-x: hidden 
	text-decoration-skip-ink: none
	color: #1C2429
a:hover, a:active
	text-decoration: none
p
	font-size: 18px
	line-height: 36px
	margin: 0

/**Header classes r - reg, b - bold, l -light**/
.hr24, 
	font-family: "Montserrat-Reg"
.hb24, .hb55
	font-family: "Montserrat-Bold"
.hl24, .hl36, .hl40, .hl55, .hl72
	font-family: "Montserrat-Light"
.hr24, .hb24, .hl24
	font-size: 24px
	line-height: 30px
.hl55
	font-size: 55px
	line-height: 70px
.hl72
	font-size: 72px
	line-height: 90px
.hb55
	font-size: 55px
	line-height: 70px
.hl36
	font-size: 36px
	line-height: 40px	
.hl40
	font-size: 40px
	line-height: 50px
/**********************************************/


/********************Blocks visibility********/
.d-none-xl
	@media (min-width: 1320px)
		display: none
.d-none-lg
	@media (max-width: 1319.98px)
		display: none
.d-none-md
	@media (max-width: 991.98px)
		display: none!important
.d-none-sm
	@media (max-width: 659.98px)
		display: none!important
.d-block-lg
	@media (min-width: 992px)
		display: block!important
.d-block-md
	@media (max-width: 991.98px)
		display: block
.d-block-sm
	@media (max-width: 659.98px)
		display: block!important
/**********************************************/

/********************Padding calculation********/
.ml-0
	margin-left: 0
.mb-32
	margin-bottom: 32px
.mt-32
	margin-top: 32px
.p-0
	padding: 0
.p-32
	padding: 32px 32px
	@media (max-width: 659.98px)
		padding:
			left: calc(100% / 2 - 300px / 2)
			right: calc(100% / 2 - 300px / 2)
.pb-sm-32
	@media (max-width: 659.98px)
		padding-bottom: 32px
	@media (max-width: 320.98px)
		padding: 0 10px 32px 10px!important
.p-calc
	padding:
		left: calc(100% / 2 - 1290px / 2)
		right: calc(100% / 2 - 1290px / 2)
	@media (max-width: 1319.98px)
		padding:
			left: calc(100% / 2 - 964px / 2)
			right: calc(100% / 2 - 964px / 2)
	@media (max-width: 991.98px)
		padding:
			left: calc(100% / 2 - 630px / 2)
			right: calc(100% / 2 - 630px / 2)	
	@media (max-width: 659.98px)
		padding:
			left: calc(100% / 2 - 300px / 2)
			right: calc(100% / 2 - 300px / 2)	

.m-calc
	@media (max-width: 1319.98px)
		margin:
			left: calc(100% / 2 - 964px / 2)
			right: calc(100% / 2 - 964px / 2)
	@media (max-width: 991.98px)
		margin:
			left: calc(100% / 2 - 630px / 2)
			right: calc(100% / 2 - 630px / 2)
	@media (max-width: 659.98px)
		margin:
			left: calc(100% / 2 - 300px / 2)
			right: calc(100% / 2 - 300px / 2)

/**********************************************/
/********************head*********************/
header
	color: #fff!important
	background-color: rgba(28, 36, 41, 0.9)
	background-position: top center
	background-repeat: no-repeat
	background-blend-mode: multiply
	background-size: cover
	a
		color: #fff!important
	.container
		@media (max-width: 669px)
			background-position-x: -120px
		@media (max-width: 360px)
			background-position-x: -255px
.main-menu
	padding: 17px 7px 0 16px
	font-family: "Montserrat-Med"
	font-size: 15px
	line-height: 18px
	.navbar-collapse
		flex-grow: 0
		z-index: 10000
	.nav-item
		padding: 0 40px 0 40px
	.navbar-brand
		margin: 5px 35px 5px 41px
		background-image: url('../img/logo.svg')
		background-repeat: no-repeat
		background-position: center center
		width: 75px
		height: 32px
		img
			width: 75px
			height: 32px
	@media (max-width: 1080px)
		padding-right: 75px
		.navbar-toggler
			border-radius: 0
			padding-right: 21px
			height: 38px
			border-right: 1px solid #fff
		.navbar-nav
			position: absolute
			left: 5px
			top: 60px
			background: #fff
			padding: 0	
			a
				color: #1C2429!important
				line-height: 20px
		.navbar-brand
			padding: 0
			margin: auto
	@media (max-width: 569.98px)
		padding: 17px 75px 0 0px	
.user-menu
	float: right
	display: inline-flex
	position: relative
	left: -5px
	top: -65px
	@media (max-width: 1440px)
		position: absolute
		top: 0
		right: 30px
	.navbar-nav
		position: absolute
		right: -10px
		top: 60px
		background: #fff
		z-index: 10000
		padding-left: 20px	
		a
			color: #1C2429!important
			font-size: 15px
			line-height: 20px
	.navbar-collapse
		flex-grow: 0
		width: 257px	
		z-index: 10000		
	.navbar-toggler
		border: none
		border-radius: 0
		padding-left: 21px	
		position: absolute
		right: 7px
		top: 16px
		outline: none
		width: 50px
		height: 38px
		border-left: 1px solid #fff!important
	.navbar-toggler-icon
    	background-image: url('../img/key-icon.svg')
    	width: 28px
    	height: 11px
	.nav-item
		margin-right: 21px
		padding: 10px 0
		a
			padding: 0
	.user
		border-bottom: 1px solid #DBDCE5
		padding: 10px 0 13px 0
		.avatar
			padding-right: 10px
			img
				width: 50px
				height: 50px
				border-radius: 100px
		.name
			color: #1C2429	
	.tbord
		padding-top: 17px
		margin-top: 10px
		border-top: 1px solid #DBDCE5
	.settings, .exit
		display: block
		a
			color: #525D7D!important
			&:before
				display: inline-block
				vertical-align: middle
				padding-right: 5px
	.settings
		a:before
			content: url(../img/settings.svg)
	.exit
		a:before
			padding-left: 1px
			content: url(../img/exit.svg)		
.white-menu
	background-color: #F2F4F9
	a
		color: #1C2429!important
	.main-menu .navbar-toggler-icon
    	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(28, 36, 41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
	.user-menu
		.navbar-toggler	
			border-left: 1px solid #1C2429!important
		.navbar-toggler-icon
    		background-image: url('../img/key-icon-black.svg')
		@media (max-width: 659px)
			.navbar-toggler
				border: none!important
	.main-menu
		.navbar-toggler
			border-right: 1px solid #1C2429
		.navbar-brand
			background-image: url('../img/logo-black.svg')
@media (max-width: 659px)
	.user-menu, .main-menu
		.navbar-toggler
			border: none!important
.last-posts
	position: relative
	margin-top: 100px
	@media (max-width: 530px)
		margin-top: 54px
	h3
		margin-top: 20px
	p
		line-height: 30px
		margin-top: 16px
	.views
		display: block
		margin-top: 40px
	.big-post
		max-width: 609px
		padding: 0
		position: relative
		left: 5%
		top: 0
		.views
			margin-top: 45px
			padding-bottom: 80px
		@media (max-width: 696px)
			max-width: 100%
			left: 0
			position: unset
			padding: 0 44px
		@media (max-width: 659px)
			.hl55
				line-height: 34px
				font-size: 29px
			p
				font-size: 15px
		@media (max-width: 406px)
			padding-left: 20px
			p
				line-height: 22px
			.views
				padding-bottom: 16px
	.post-list
		max-width: 330px
		position: absolute
		right: 4%
		h2
			font-family: "Montserrat-Bold"
			font-size: 13px
			line-height: 16px
			margin-bottom: 11px
			text-transform: uppercase
		ul
			border-top: 1px solid #fff
			list-style-type: none
			padding: 0
			li
				padding: 20px 0 10px 0
			.views
				margin-top: 10px
		@media (max-width: 1089px)
			display: none
/******************head end*******************/
.post, .place, .question-list, .popular
	a, a:hover
		color: #1C2429
.last-posts2
	position: relative
	margin-top: 32px	
	padding:
		left: calc(100% / 2 - 1290px / 2)
		right: calc(100% / 2 - 1290px / 2)
	.y-line
		background: url('../img/post-y-line.svg') no-repeat
		background-size: contain
		background-position-x: center
		background-clip: content-box
		text-align: center
		z-index: 1000
		a
			color: #1C2429
			&:hover
				color: #1C2429
	.banner
		height: 600px			
		max-width: 330px
		img
			width: 100%				
	@media (max-width: 1319.98px)
		.post-list
			padding: 0
			max-width: 964px	
		.banner
			max-width: 300px
			position: absolute
			right: calc(100% / 2 - 960px / 2)
			top: 100%
			padding: 34px 0 0 0
	@media (max-width: 659.98px)
		.post-list
			padding: 0 15px
			.date
				left: 20px
			.views-blk
				margin-right: 0
.follow
	margin-top: 32px
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
	background: linear-gradient(180deg, #F2F4F9 0%, #FFFFFF 100%)
	max-width: 964px
	margin: 32px 0 
	.f-text
		max-width: 408px
		width: 408px
		flex: content
	.f-form
		padding-left: 40px
		flex: content
		max-width: 560px
		width: 560px
	h2
		padding: 40px 0 0 30px
	p
		font-size: 16px
		line-height: 20px
		padding: 0 0 47px 30px
		margin: 0
		opacity: 0.3		
	form
		font-size: 16px
		line-height: 20px
		margin-top: 60px
		input	
			padding: 14px 20px
			width: 308px
			height: 48px
			border: 1px solid #E3E5E5
			border-radius: 0
			color: #525D7D
			&:placeholder
				opacity: 0.2
		button
			position: absolute
			right: 50px
			top: 60px
			font-family: "Montserrat-Bold"
			color: #fff
			padding: 15px 13px 13px 12px
			border: none
			background: #1C2029
	@media (max-width: 1319.98px)
		max-width: 990px
	@media (max-width: 991.98px)
		h2
			padding-left: 20px
		p
			padding: 0 0 0 20px
			max-width: 373px
			opacity: 1
		.f-text, 
			flex: 0 0 66.666667%
			max-width: 66.666667%
			width: 100%
		.f-form
			flex: 0 0 100%
			max-width: 100%
			width: 100%
			padding-left: 0
		form
			padding-left: 20px	
			margin: 30px 0
			input
				width: 404px
			button
				top: 30px
				right: 55px
	@media (max-width: 659.98px)
		margin: 0 -15px
		h2
			margin-bottom: 15px
		p, form input
			width: 260px
		form button
			left: 0
			margin-top: 15px
			position: inherit
.info
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
	background: linear-gradient(180deg, #F2F4F9 0%, #FFFFFF 100%)
	height: 231px
.post
	height: 400px
	max-width: 330px
	background-clip: content-box
	.thumb
		height: 169px
		max-height: 169px
		max-width: 300px
		img
			width: 100%
	.category, .date
		color: #1C2429
		opacity: 0.5
	.category, h3
		margin: 0 20px 0 21px
		padding-top: 20px
	.views-blk, .date
		position: absolute
	.date
		bottom: 10px
		left: 40px
		float: left
	.views-blk
		margin-right: 20px
		float: right
		bottom: 10px
		right: 20px
	@media (max-width: 659.98px)
		padding: 0
		max-width: 300px
		margin-bottom: 24px
.big-wpost
	max-width: 660px
	height: 600px
	h3
		max-width: 440px
	.info
		height: 246px
.views, .views-blk, .date, .comments-blk
	font-family: "Montserrat-SemiBold"
	font-size: 15px
	line-height: 18px	
.views, .views-blk, .comments-blk
	&:before
		display: inline-block
		vertical-align: middle
		padding-right: 6px	
.views
	&:before
		content: url('../img/view-icon.svg')	
.views-blk	
	&:before
		content: url('../img/view-black-icon.svg')
.comments-blk
	&:before
		content: url('../img/comments-blk.svg')
.fullthumb
	background: #1C2429
	background-blend-mode: multiply
	background-clip: content-box
	background-size: cover
	background-position-x: center
	text-align: center
	.info
		height: 100%
		background: none
	img
		height: 100%
		width: 100%
	.category
		margin: auto
		padding: 84px 0 18px 0
		opacity: 1
	h3
		margin: 0
		padding: 20px 0 42px 0
		a
			color: #fff
			&:hover
				color: #fff
	.date
		color: #ABABAB
	.views-blk
		position: unset
		float: none
.topics, .topics-place
	width: 300px
	max-width: 300px
	padding: 0
	height: 600px
	background: url('../img/topic-y-line.svg') no-repeat
	background-size: contain
	background-position-x: center
	background-clip: content-box
	a
		color: #000
	.hb24
		display: block
		margin: 40px 0 44px 0
	ul
		max-width: 236px
		list-style-type: none
		padding: 0
		line-height: 20px
		font-size: 15px
		height: 400px
		li
			width: 86px
			display: inline-block
			margin: 0 19px 31px 0
			a
				&:hover, &:active
					font-family: "Montserrat-Bold"
	.hb24, ul
		margin-left: 32px
	.show-more
		font-family: "Montserrat-SemiBold"
		font-size: 13px
		float: right
		margin: 21px 32px 0 0			
.topics-place
	ul 
		margin-left: 43px
		li
			width: auto
			margin: 0 19px 13px 0
	.hb24
		margin: 0px 0 44px 0
		padding:
			top: 40px
			left: 43px

.journal
	margin-top: 40px
	.journal-heading 	
		padding:
			left: calc(100% / 2 - 1290px / 2 + 15px)
			right: calc(100% / 2 - 1290px / 2 - 16px)
	.big-post
		flex: auto
		max-width: 990px
		padding: 0 0 0 30px
		a, p, .category, .views
			color: #fff!important
		.thumb
			background-color: rgba(28, 36, 41, 0.9)
			background-blend-mode: multiply
			width: 100%
			height: 598px
			display: block
			background-size: cover
		img
			width: 100%
		.category, .views, h3, p
			position: absolute
			left: 81px
		.category
			top: 80px	
		h3
			top: 122px
		p
			max-width: 595px
			bottom: 100px
			line-height: 30px
		.views
			bottom: 60px
	.popular
		max-width: 330px
		max-height: 600px
		background: linear-gradient(180deg, #F2F4F9 0%, #FFFFFF 100%)
		background-clip: content-box
		.wrap
			height: 561px
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
		.hb24
			display: block
			margin:
				top: 40px
				bottom: 24px
		.hb24, ul
			padding:
				left: 20px
				right: 20px
		ul
			list-style-type: none
			li
				padding-bottom: 30px
		.views-blk
			display: block
			padding-top: 10px
		@media (min-width: 1319.98px)
			display: none
	.journal-plist
		margin-top: 30px
		.fullthumb
			.category
				color: #F6FF00
		@media (max-width: 659.98px)
			.fullthumb
				.date
					left: 20px!important
			.post
				margin-bottom: 32px		
				.views-blk
					right: 35px
					margin: 0
				.date
					left: 35px
	@media (max-width: 1319.98px)
		.big-post
			display: none
		.topics
			max-width: 315px
			padding-left: 0
			margin:
				left: calc(100% / 2 - 964px / 2)
				//right: calc(100% / 2 - 964px / 2)
	@media (max-width: 991.98px)	
		.topics			
			margin:
				right: 30px
				left: calc(100% / 2 - 630px / 2)
		.popular
			max-width: 300px
			padding: 0
	@media (max-width: 659.98px)
		margin-top: 16px
		.topics, .popular
			margin:
				right: calc(100% / 2 - 300px / 2)
				left: calc(100% / 2 - 300px / 2)
			padding: 0
		.popular
			margin-top: 32px
		.post
			max-width: 330px
			padding: 0 15px
	@media (max-width: 320px)
		.post
			padding: 0 10px
.journal-category, .place-category
	.category-title
		margin-bottom: 32px
	.last-posts2
		margin-top: 0
		margin-bottom: 0
	.post
		margin-top: 32px
	.big-post
		padding: 0 30px 0 0
	.big-wpost
		margin-top: 0px
		img
			height: 355px
	.fullthumb
		.category
			color: #F6FF00
	.y-line
		.category
			color: #1C2429
			opacity: 0.5!important
	.show-more
		button
			max-width: 300px
			border: none
			background-color: #1C2029
			font-family: "Montserrat-Bold"
			font-size: 16px
			line-height: 20px
			text-align: center
			color: #fff
			padding: 15px 80px
			outline: none
			margin-bottom: 55px
			&:active
				 transform: translateY(1px)
		@media (max-width: 659px)
			button
				padding: 15px 30px
				width: 100%
	.page-descr
		margin-bottom: 40px
		p
			font-family: "Montserrat-Reg"
			font-size: 15px
			line-height: 24px
	@media (max-width: 1319.98px)
		.journal-heading
			position: relative
			top: 432px
			margin-top: -595px
			.big-post
				display: block
				position: relative
				bottom: -1232px
				left: calc(100% / 2 - 964px / 2 - 5px)
		.topics
			margin-left: calc(100% / 2 - 964px / 2 - 15px)
			margin-right: 10px
		.relative
			position: relative
			top: -632px
		.mt-664
			margin-top: 664px
		.freeadslot
			.col-xl-3
				max-width: 330px
	@media (min-width: 991.98px)
		.big-wpost
			.info
				background-image: none!important
	@media (max-width: 1305.98px)
		.journal-heading
			.big-post
				left: calc(100% / 2 - 964px / 2)
		.topics
			margin-left: calc(100% / 2 - 964px / 2 - 10px)	
	@media (max-width: 991.98px)
		.relative-md
			position: relative
			top: -600px
		.popular
			position: relative
			top: 464px
			left: 346px
		.topics
			margin-left: calc(100% / 2 - 630px / 2)
			top: -720px
		.relative
			position: relative
			top: -5px
		.freeadslot.relative-md
			position: relative
			top: 33px
		.mt-664
			margin-top: 27px
		.big-wpost
			height: 400px
			img
				height: 400px
			.info
				background-color: rgba(28, 36, 41, 0.9)
				background-blend-mode: multiply
				background-size: cover
				background-position: top center
				position: absolute
				top: 0
				width: 630px
				height: 400px
				box-shadow: none
				.category
					padding-top: 68px
					color: #F6FF00
					opacity: 1
					margin-left: 32px
				.hl40
					font-size: 36px
					line-height: 40px
					padding-top: 24px
					margin-left: 32px
					a
						color: #fff
				p
					color: #fff
					margin-left: 32px
					padding-top: 16px
					line-height: 30px
				.views-blk
					left: 32px
					color: #fff
					bottom: 43px
					&::before 
						content: url("../img/view-icon.svg")
	@media (max-width: 659.98px)
		.post-list
			margin-left: calc(100% / 2 - 330px / 2)
			margin-right: calc(100% / 2 - 330px / 2)
		.hb55
			font-size: 30px
			line-height: 34px
		.category-descr
			font-size: 15px
			line-height: 22px
		.post
			max-width: 330px
			width: 330px
			.date
				left: 40px
			.views-blk
				right: 40px
		.big-wpost
			width: 330px
			.info
				max-width: 300px
				text-align: center
				margin-left: 0
				.hl40
					font-size: 36px
					line-height: 40px
				.hl40, .category, .views-blk
					margin: 0
				.views-blk
					left: 0
					right: 0
			img
				display: none	
		.popular
			top: -24px
			left: 0
		.relative-md
			top: -22px
		.topics
			top: -166px
			margin-left: calc(100% / 2 - 300px / 2)
		.freeadslot.relative-md
			top: 586px
		.relative
			top: 549px
		.mt-664
			margin-top: 557px
	@media (max-width: 330px)
		.post-list
			margin-right: calc(100% / 2 - 320px / 2)
			margin-left: calc(100% / 2 - 320px / 2)
		.big-wpost
			.info
				max-width: 300px
		.post
			width: 320px
			padding: 0 10px
.article
	padding-top: 54px
	.topics
		padding-top: 1px
	.banner
		max-width: 300px
		width: 300px
		padding: 34px 0
	.article-content
	 	background-color: #FFFFFF
	 	background-clip: content-box
	 	.wrap
	 		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
	 		height: 100%
	.article-prev
		height: 543px
		background-color: rgba(28, 36, 41, 0.8)
		background-blend-mode: multiply
		background-size: cover
		background-position: top center
		position: relative
		h1
			color: #fff
			vertical-align: bottom
			position: absolute
			bottom: 32px
			left: 32px
			max-width: 792px
	.article-metainfo
		padding: 30px 45px 24px 45px
		position: relative
		.views-blk
			padding-right: 20px
		.breadcrumbs
			display: inline-flex
			.breadcrumb
				padding-right: 15px
				a
					font-family: "Montserrat-Reg"
					line-height: 20px
					font-size: 15px
					color: #2F333D	
					padding: 8px 10px
					border: 1px solid #DBDCE5
					border-radius: 1px
			.last-breadcrumb
				a
					background-color: #1C2429
					color: #fff
					&:hover
						color: #fff
		.article-stat
			display: inline-flex
		.article-author
			position: absolute
			right: 0
			top: -7px
			span
				display: block
			.author
				font-family: "Montserrat-SemiBold"
				font-size: 15px
				line-height: 18px
			.post-date
				font-family: "Montserrat-Reg"
				font-size: 13px
				line-height: 16px
	.article-text
		padding: 0 45px
		h2
			font-size: 36px
			line-height: 40px
		h2, h3, h4
			font-family: "Montserrat-Light"
			margin-bottom: 24px
		p
			font-family: "Montserrat-Reg"
			line-height: 34px
			font-size: 18px
			padding-bottom: 32px
		img
			margin: 24px 0
			max-width: 100%
			width: 100%
			height: auto
			display: block
		.quote
			background-image: url('../img/quote-bg.svg')
			background-repeat: no-repeat
			background-position: center center
			margin: 0 0 24px 0
			padding: 0px 7px
			font-family: "Montserrat-Reg"
			line-height: 54px
			font-size: 36px
			text-align: center
			vertical-align: middle
		.announcement
			margin-bottom: 24px
			p
				font-family: "Montserrat-Light"
				line-height: 40px
				font-size: 24px
		.similar-articles
			margin: -66px 0 0 0
			h3
				display: table-cell
				vertical-align: top
			a	
				color: #1C2429
				display: table-cell
				&:hover
					color: #1C2429
			img
				margin: 0 15px 0 0
				width: 160px
				height: 90px
				max-width: 160px	
		.similar-articles h4, .like-article h4 
				margin-bottom: 25px
				font-family: "Montserrat-Bold"
				line-height: 13px
				font-size: 16px
		.like-article	
			font-family: "Montserrat-Reg"
			margin: 0 0 45px 0px
			.in-favourite, .rating, .share
				display: inline-block
			.social
				a
					line-height: 20px
					font-size: 15px
					padding: 8px 10px
					margin-right: 15px
					color: #fff
					border-radius: 1px
					&:hover
						color: #fff
			.vk a
				background-color: #4671A0
			.fb a
				background-color: #39579A
			.twitter a
				background-color: #01A5EF
			.rating
				line-height: 20px
				font-size: 15px
				margin-left: 15px
				img
					display: inline-block
					width: 125px
					margin: 0 10px 0 0
				.total
					vertical-align: middle
			.in-favourite
				margin: 0 0 0 40px
				a	
					color: #1C2429
					&:hover
						color: #1C2429
				span
					vertical-align: middle
				img
					width: 24px
					height: 20px
					display: inline-block
					margin: 0 10px 2px 0
		.follow
			margin-left: 59px
	.comments
		padding: 0 45px
		.hl40
			margin: 0 0 44px -4px
		.comment-text
			background-color: #F9F9FB
			margin-bottom: 25px
			background-repeat: no-repeat
			background-size: cover
			.triangle-down
				border-left: 15px solid transparent
				border-right: 15px solid transparent
				border-top: 16px solid #F9F9FB
				margin-left: 22px
				position: relative
				bottom: -37px
			p
				line-height: 24px
				font-size: 15px
				padding: 20px 20px 36px 20px
		.comment-author	
			margin: 10px 0 30px 0
			img
				margin: 0
				border-radius: 100px
				width: 50px
				height: 50px
				display: inline-block
			.name
				padding-left: 10px
		.add-comment
			margin-bottom: 10px
			.comment-author
				display: inline-block
			form
				textarea
					width: 100%
					border: 1px solid #DBDCE5
					padding: 20px 20px
					line-height: 24px
					font-size: 15px
					&::placeholder
						opacity: 1
						color: #1C2429
				button
					float: right
					margin-top: 10px
					font-family: "Montserrat-Bold"
					line-height: normal
					font-size: 16px
					text-align: center
					color: #fff
					padding: 16px 70px 14px 70px
					background-color: #1C2029
					border: 1px solid #1C2029
					&:active
			 			transform: translateY(1px)
	.follow
		margin-left: calc(100% / 2 - 1290px / 2)
	@media (max-width: 1319.98px)
		.follow
			max-width: 964px
			margin-left: calc(100% / 2 - 964px / 2)
	@media (max-width: 991.98px)
		padding-top: 32px
		.article-prev
			height: 355px
			h1
				padding-right: 24px
				bottom: 24px
				left: 24px
			.hl72
				line-height: 70px
				font-size: 55px
		.article-stat
			display: inline-block!important
			vertical-align: top
			margin-top: -10px
			.comments-blk
				display: block	
		.quote
			background-size: contain

		.similar-articles
			.col-lg-6
				margin-bottom: 16px
		.article-text
			.like-article
				margin: 0 0 32px 0
				.in-favourite
					margin: 0 0 0 22px
					img
						margin: -10px 0 0 0
						width: 29px
						height: 24px
					a
						font-size: 0
		.comments
			.hl40
				margin: 0 0 24px -4px
		.follow
			max-width: 630px
			margin-left: calc(100% / 2 - 630px / 2)
	@media (max-width: 659px)
		padding-top: 17px
		.p-calc.main
			padding:
				left: calc(100% / 2 - 360px / 2)
				right: calc(100% / 2 - 360px / 2)
		.article-prev
			height: 240px
			.hl72
				line-height: 34px
				font-size: 30px
		.article-metainfo
			padding: 12px 45px 24px 45px
			.breadcrumbs
				margin-top: 65px
				display: inline-block
				white-space: nowrap
				.breadcrumb
					padding-right: 15px
					display: inline-block
					margin-bottom: 20px
				.last-breadcrumb
					padding-right: 0
			.article-stat
				position: absolute
				top: 10px
				margin-top: 0
				left: 0
				.comments-blk
					display: inline-block
			.article-author
				right: 5px
				top: 10px
		.article-text
			.announcement p
				line-height: 32px
				font-size: 18px
			p
				font-size: 16px
				line-height: 30px
			h2
				font-size: 24px
				line-height: 30px
			h2, h3, h4
				margin-bottom: 21px	
			.quote
				line-height: 36px
				font-size: 24px
			.similar-articles
				img
					display: none
				.col-lg-6
					margin-bottom: 32px
					&:last-child
						margin-bottom: 0
			.like-article
				margin-bottom: 25px
				.share
					margin-bottom: 24px
					.social 
						a
							margin-right: 6px!important
						&:last-child a
							margin-right: 0
				.rating
					margin-left: 0
				.in-favourite
					float: right
		.comments
			.comment-text
				p
					line-height: 30px
					font-size: 16px
					padding-bottom: 10px
			.add-comment
				.comment-author
					margin: 16px 0 9px 0
				form button
					margin-bottom: 40px
					padding: 16px 23px 14px 23px
					width: 100%
		.follow
			max-width: 300px
			margin-top: 32px
			margin-left: calc(100% / 2 - 300px / 2)
	@media (max-width: 390px)
		.article-content
			padding:
				left: calc(100% / 2 - 360px / 2)
				right: calc(100% / 2 - 360px / 2)	
		.article-metainfo, .article-text, .comments
			max-width: 300px
			margin: auto
		.article-metainfo, .article-text, .comments
			padding: 
				right: 0 
				left: 0
	@media (max-width: 360px)
		.article-content
			padding:
				left: calc(100% / 2 - 320px / 2)
				right: calc(100% / 2 - 320px / 2)
		.similar-articles
			.row
				margin: auto
			.col-lg-6
				padding-left: 0

		.article-text, .comments
			padding: 
				top: 0 
				right: calc(100% / 2 - 320px / 2)
				bottom: 0 
				left: calc(100% / 2 - 320px / 2)

.freeadslot
	margin-top: 32px
	margin-bottom: 32px
	img
		width: 100%
	@media (max-width: 320px)
		.col-md-6
			padding: 0 10px
			max-width: 320px
			margin: auto
.category
	display: block
	font-family: "Montserrat-Bold"
	font-size: 13px
	line-height: 16px
	text-transform: uppercase
	&:before
		content: '#'
.places
	padding-top: 12px
	.place-filter
		padding-bottom: 23px
	.club-type, .city, .subway
		display: inline-block
		padding-right: 42px
		vertical-align: bottom
	.placemap
		position: relative
	.topics
		position: absolute
		right: calc(100% / 2 - 1296px / 2)
		bottom: -35px
		width: 300px
		padding: 0
		.hb24, ul
			margin-left: 42px
		ul
			width: auto
			line-height: 34px
			li
				width: auto
				margin-bottom: 0
				display: block	


	@media (max-width: 1319.98px)
		.topics
			right: calc(100% / 2 - 964px / 2)
			padding: 0
			width: 300px
	@media (max-width: 991.98px)
		.club-type, .city, .subway
			//display: block
			padding-right: 20px
	@media (max-width: 659.98px)
		.city, .subway
			padding-top: 20px
		.freeadslot
			margin-bottom: 169px
.place-category
	margin-top: 54px
	margin-bottom: 32px
	.category-title
		margin-top: 2px
		margin-bottom: 0
		max-width: 800px
	.place
		margin: 32px 0 0 0
		max-width: 330px
	.seeing-now
		margin-top: 32px
	.place-big
		max-width: 660px
		position: relative
		height: 100%
		width: 100%
		max-width: 660px
		height: 400px
		max-height: 400px
		background-color: rgba(28, 36, 41, 0.9)
		background-blend-mode: multiply
		background-size: cover
		text-align: left
		.info
			background: none
			box-shadow: none
		.rating
			padding: 121px 0 24px 10px
		.address
			color: #fff
			padding-left: 10px
		.category
			color: #F6FF00
			left: 45px
		.hl36
			max-width: 400px
			padding-left: 30px
			text-align: left
			a
				color: #fff
				&:hover
					color: #fff
	@media (max-width: 1319.98px)
		margin-top: 40px
	@media (max-width: 991.98px)
		margin-top: 20px
		.post-list
			max-width: 632px
	@media (max-width: 659.98px)
		margin-top: 16px
		.category-title
			.hb55
				line-height: 34px
				font-size: 30px
.places-slider
	padding: 0
	.slide-wrapper
		position: relative
		overflow: hidden
		height: 400px
		width: 100%
		padding: 0
		margin: 0
		@media (max-width: 1080px)
			overflow-x: scroll
		.carousel
			height: 400px
			position: absolute
			white-space: nowrap
			padding: 0
			.place
				display: inline-block
				height: 100%
				white-space: normal
.map
	padding: 0
#map
	height: 489px
.popular-place
	margin:
		bottom: 32px
		top: 40px
.place
	padding: 0 15px
	height: 400px
	max-width: 332px
	
	background-clip: content-box
	text-align: center
	.thumb 
		display: block
		height: 169px
		max-height: 169px
		max-width: 300px
		img
			width: 100%	
	.rating, .address, .hl24
		margin: 0 20px
	.rating
		display: inline-block
		padding:
			top: 25px
			bottom: 20px
	.address
		display: block
		padding-top: 17px
	.category
		width: 300px
		position: absolute
		bottom: 20px
		opacity: 1
.place-content
	.article-prev h1
		max-width: 830px
	.article-text
		.like-article
			padding-top: 32px
		.hl36
			padding-top: 18px
	.contacts, .work-time
		margin-top: 20px
		th, td
			font-family: 'Montserrat-Reg'
			font-size: 18px
			line-height: 34px
			text-align: left
			padding:
				right: 8px
				bottom: 8px
			font-weight: normal
		th
			color: #A2A2A4
	.place-info
		padding-top: 21px
		a:hover, a
			color: #2693C1
		.subway
			a:hover, a
				color: #00800B!important
	.plce-in-map
		padding-bottom: 26px
	.reviews
		padding-top: 32px
	.place-services
		color: #A2A2A4
@media (max-width: 991px)
	.place-content
		.contacts, .work-time
			margin-top: 22px
		.contacts
			margin-bottom: 32px
		.place-info

@media (max-width: 659px)
	.hl72
		font-size: 30px
		line-height: 34px
	.article
		.place-content
			.article-metainfo
				.breadcrumbs
					margin-top: 10px!important
					display: inline-block
					white-space: nowrap
					.breadcrumb
						padding-right: 5px
					.last-breadcrumb
						padding-right: 0
			.contacts, .work-time
				margin-top: 14px
			.place-info
				.hl24
					font-size: 18px
					line-height: 32px
				.contacts, .work-time
					th, td
						font-size: 16px
						line-height: 30px
			.hl36
				font-size: 24px
				line-height: 30px
			.hl40
				font-size: 24px
				line-height: 30px
	.contacts
		@media (max-width: 991.98px)
			margin-bottom: 32px
.def-content
	.announcement
		padding-top: 30px
.defenition
	.banner
		padding: 0 0 0 17px
	.last-posts2
		.hb24
			margin-bottom: 24px
	.show-more
		button
			max-width: 300px
			border: none
			background-color: #1C2029
			font-family: "Montserrat-Bold"
			font-size: 16px
			line-height: 20px
			text-align: center
			color: #fff
			padding: 15px 80px
			outline: none
			margin-bottom: 55px
			&:active
				 transform: translateY(1px)
	.question-list
		padding-right: 32px
		margin-bottom: 0!important
		.qw-5
			max-width: 570px
			margin: 0 0 0 0
			padding-bottom: 30px
			position: relative
		.qw-6
			max-width: 300px
			margin: 0 0 0 26px
		.qw-5, .qw-6
			margin-bottom: 32px
	.questions
		h3
			margin-bottom: 26px
			padding-top: 32px
			position: static!important
	@media (max-width: 1319.98px)
		.questions
			.question-list
				max-width: 980px
				.qw-5
					max-width: 632px
				.qw-6
					margin: 0 0 0 32px
	@media (max-width: 991px)
		.questions
			.question-list
				max-width: 630px
				.qw-6
					margin: 0 0 0 30px
			.blk-md
				margin: 0 0 32px 0!important
				background: #1C2029
				.name, .answers, a
					color: #fff
	@media (max-width: 750px)
		padding: 32px 0 0 0
	@media (max-width: 659px)
		padding: 17px 0 0 0
		.questions
			.question-list
				max-width: 300px
			.qw-6
				margin: 32px 0 32px 0!important
			.blk-md
				margin: 32px 0 0 0!important
		.show-more
			margin-top: 40px
			button
				padding: 15px 30px
				width: 100%
		h2
			font-size: 24px
			line-height: 30px
		h2, h3, h4
			margin-bottom: 21px	
	@media (max-width: 359.98px)
		padding-right: 0
		padding-left: 0
@media (max-width: 1319.98px)			
	.heading
		padding: 0
.about		
	.article-text
		margin-top: 22px
.about, .profile
	margin-bottom: 40px
	.banner
		padding: 0 0 0 2px
.profile
	.wrap
		.row
			margin-left: 0
			margin-right: 0
	.avatar
		margin: 32px 32px 57px 17px
		img
			width: 160px
			height: 160px
			border-radius: 50px
	.profile-info
		margin-top: 32px
		.name
			display: inline-block
			margin-bottom: 22px
	.profile-header
		p, .hl24
			font-family: "Montserrat-Light"
			font-size: 24px
			line-height: 40px
		hr
			border: 1px solid #DBDCE5
			width: 898px
			max-width: 898px
			margin: 0 32px 22px 32px
		.about-me
			position: relative
			top: -154px
			left: 210px
			margin-bottom: -150px
			p
				padding-right: 52px
	.action-header, .action-list
		padding-left: 17px
	.action-header
		margin-bottom: 42px
		.show-all
			font-size: 13px
			line-height: 30px
			font-family: 'Montserrat-Bold'
			text-align: right
			padding-right: 47px
			a
				color: #1C2429
	.action-list
		.action
			margin-bottom: 40px
			.hl24
				a
					color: #1C2429
			.what-do
				font-size: 13px
				line-height: 16px
				font-family: 'Montserrat-Bold'
				text-transform: uppercase
				margin-bottom: 14px
			.topic-info
				margin-top: 23px
				.category
					display: inline-block
					opacity: 0.5
				.category, .comments-blk
					margin-left: 16px
	@media (max-width: 991.98px)
		.avatar 
			margin: 16px 0 17px 0px
			img
				width: 80px
				height: 80px
		.profile-info
			padding: 0
		.profile-header 
			hr
				width: 598px
				max-width: 598px
				margin: 0 15px 22px 15px
		.about-me
			position: static!important
			margin: 0 0 25px 0!important
			padding: 0 42px 0 15px
		.action-header, .action-list
			margin-left: 0
			padding-left: 0
	@media (max-width: 659.98px)
		.avatar 
			margin: 27px 0 22px 15px
			img
				width: 40px
				height: 40px
		.profile-header
			.profile-info
				.name
					font-size: 24px!important
					line-height: 30px!important
			hr
				width: 300px!important
				max-width: 300px!important
				margin: 0 15px 22px 30px					
			.about-me	
				p
					font-size: 18px!important
					line-height: 32px!important
					padding: 0 30px 0 14px
		.action-header
			.show-all
				margin-top: 15px
				text-align: left
		.action-header
			.hb24, .show-all
				padding-left: 30px
		.action-list
			.action
				padding-left: 30px
				.hl24
					font-size: 18px!important
					line-height: 32px!important
					padding-right: 15px
				.topic-info
					margin-top: 15px
	@media (max-width: 360.98px)
		.avatar 
			margin: 27px 8px 22px 0px

		.profile-header
			hr
				margin: 0 15px 22px 15px					
			.about-me	
				p
					padding: 0 15px 0 0
			.profile-info
				.name
					font-size: 22px!important
		.action-header
			.hb24, .show-all
				padding-left: 15px
		.action-list
			.action
				padding-left: 15px
				.hl24
					padding-right: 15px
.question-page
	.banner
		padding: 0
		margin-top: 32px
	.topics
		height: 540px
		background: url("../img/question-y-line.svg") no-repeat
		background-clip: content-box
		background-size: contain
		background-position-x: center
		.hb24
			margin: 30px 0 30px 32px
		ul
			margin-bottom: 0
		.show-more
			margin-top: 0
	.category-title
		margin-bottom: 18px
	.avatar
		display: inline-block

		img
			width: 50px
			height: 50px
			margin: 0 0 40px 0
	.qw-info
		display: inline-block
		margin:
			top: 5px
			left: 17px
			right: 0
			bottom: 0
		vertical-align: top
		span
			display: block
		.name
			line-height: 19px
			font-size: 15px
			font-family: 'Montserrat-SemiBold'
		.date
			line-height: 16px
			font-size: 13px
			font-family: 'Montserrat-Reg'
	@media (max-width: 991.98px)
		.hl72
			line-height: 70px
			font-size: 55px	
			padding-bottom: 0
		.article-stat
			vertical-align: middle!important
			margin-top: 0!important
	@media (max-width: 659.98px)
		.category-title
			line-height: 34px
			font-size: 30px
			text-align: center
		.hl72
			line-height: 34px
			font-size: 30px	
		.announcement
			padding-top: 0
			margin-bottom: 0!important
		.qw-author
			display: none
.ask-btn, .ask-btn:hover
	line-height: 19px
	font-size: 16px
	font-family: 'Montserrat-Bold'
	color: #fff
	padding: 16px 71px 16px 71px
	background-color: #1C2029
	display: inline-block
	margin-top: 15px
	&:active
		transform: translateY(1px)
	@media (max-width: 1319.98px)
		float: right
	@media (max-width: 991.98px)
		float: left
	@media (max-width: 659.98px)
		float: unset
.questions-page
	.category-title
		p
			line-height: 30px
			font-size: 24px
			margin-bottom: 32px
	.ask-btn, .ask-btn:hover
		margin-top: 37px
	@media (max-width: 1319.98px)
		.ask-btn, .ask-btn:hover
			margin-top: 0
			position: absolute
			bottom: 133px
			left: 677px
			width: 300px
			text-align: center
	@media (max-width: 991.98px)
		.ask-btn, .ask-btn:hover
			bottom: -73px
			left: 14px
			z-index: 10000
	@media (max-width: 750.98px)
		padding-right: 0
		padding-left: 0
	@media (max-width: 659.98px)
		.category-title
			.hb55
				line-height: 34px
				font-size: 30px
			p
				line-height: 22px
				font-size: 15px
				margin-bottom: 15px
		.ask-btn, .ask-btn:hover
			position: static
			margin-bottom: 16px
		.question-topic
			.hb24
				display: none
@media (max-width: 659.98px)
	.defenition.questions-page
		.show-more
			margin-top: 0		
.noimage
	background: url('../img/noimage-place-bg.svg') no-repeat
	background-size: contain
	background-position-x: center
	background-clip: content-box
	.thumb
		img
			margin: auto
			padding-top: 58px
			box-shadow: none
			width: auto
.search-page
	padding-top: 54px
	padding-bottom: 40px
	.banner
		max-width: 300px
		width: 300px
		padding: 0 0 0 17px
	.search-content
	 	background-color: #FFFFFF
	 	background-clip: content-box
	 	.wrap
	 		margin-left: 0
	 		margin-right: 0
	 		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
	 		height: 100%
	 		padding: 33px 32px 31px 32px
	 		.category-col
	 			padding-left: 0
	 			padding-right: 0
	 			margin-right: 46px
	 			max-width: 268px
	 			&:nth-child(3)
	 				margin-right: 0
	 		.scat-list
	 			display: inline-block
	 			padding-top: 21px
	 			font-family: 'Montserrat-Reg'
	 			line-height: 32px
				font-size: 15px
				a, a:hover
					text-decoration: none
					color: #000000
			.page-col
				padding-right: 0
				padding-left: 0
				margin-right: 46px
				margin-top: 87px
				max-width: 268px
				.hb24
					margin: 0
	.searched
		background-color: unset!important
		margin: -8px 32px 0 32px
		.hb24
			margin-bottom: 32px
		.result
			margin-bottom: 26px
			h2
				text-transform: uppercase
				font-family: 'Montserrat-Bold'
				font-size: 13px
				line-height: 16px
				margin-bottom: 22px
				a, a:hover
					color: #1C2429
			p
				line-height: 34px				
		.show-more
			padding-top: 8px

			float: left
			button
				max-width: 300px
				border: none
				background-color: #1C2029
				font-family: "Montserrat-Bold"
				font-size: 16px
				line-height: 20px
				text-align: center
				color: #fff
				padding: 15px 80px
				outline: none
				margin-bottom: 0
				&:active
					 transform: translateY(1px)
	.search-form
		margin:
			top: 30px
			bottom: 40px
			left: 32px
			right: 32px
		border-bottom: 2px solid #1C2429
		padding-bottom: 15px
		input
			width: 711px
			max-width: 711px
			height: 48px
			border: none
			background: none
			color: #A2A2A4
			font-family: 'Montserrat-Light'
			line-height: 50px
			font-size: 40px
			margin-right: 48px
			vertical-align: top
			outline: none
		button
			background: #1C2029
			color: #FFFFFF
			line-height: 20px
			font-size: 16px
			font-family: 'Montserrat-Bold'
			border: none
			padding: 14px 20px
			width: 132px
			max-width: 132px
			height: 48px
			outline: none
			&:active
				transform: translateY(1px)
			.fa-search
				width: 20px
				height: 20px
				display: inline-block
				background: url('../img/search.svg') no-repeat
				background-position-x: center
				background-clip: content-box
				margin-right: 8px
				vertical-align: middle
	@media (max-width: 1319.98px)
		.search-form
			margin:
				top: 0
				bottom: 40px
				left: 32px
				right: 32px
			input
				margin-right: 52px
		.searched
			.show-more
				float: unset
	@media (max-width: 991.98px)
		padding-top: 32px
		.search-content
			.wrap
				padding: 17px  14px 10px 14px!important
			.category-col
				max-width: 100%!important
				margin-right: 0!important
				.scat-list
					margin-bottom: 19px
			.page-col
				margin-top: 0
				margin-bottom: 24px
		.search-form
			margin:
				top: 0
				bottom: 40px
				left: 0
				right: 0
			input
				width: 471px
				max-width: 471px
				margin-right: 22px
		.searched
			margin: -8px 0 0 0
	@media (max-width: 659.98px)
		.searched
			margin: -8px 0 0 0
			.result, .hb24
				width: 300px
				max-width: 300px
				margin-left: auto
				margin-right: auto
				p
					line-height: 30px
					
		.p-calc
			padding-left: calc(100% / 2 - 360px / 2)
			padding-right: calc(100% / 2 - 360px / 2)
			.col-xl-9
				padding-left: 0
				padding-right: 0
		.search-content
			.wrap
				padding: 25px 28px 17px 30px!important
		.search-form
			padding-bottom: 0
			margin:
				top: 0
				bottom: 40px
				left: 30px
				right: 30px
			input
				width: 277px
				max-width: 277px
				margin-right: 0
			button
				padding: 14px 14px
				width: 48px
				max-width: 48px
				.bnt-text
					display: none
				.fa-search
					margin-right: 0
	@media (max-width: 390.98px)
		.search-form
			width: 300px
			max-width: 300px
			margin-left: auto
			margin-right: auto
			input
				width: 247px
				max-width: 247px
				margin-right: 0
.questions
	max-width: 1290px
	background: #fff
	background-clip: content-box
	margin-bottom: 32px
	margin:
		left: auto
		right: auto
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.0797668)
	@media (max-width: 1319.98px)
		max-width: 994px
		padding: 0
	@media (max-width: 991.98px)
		max-width: 720px
	@media (max-width: 750.98px)
		margin: 0 -15px
	@media (max-width: 659.98px)
		max-width: 360px
		margin: 0 auto
	@media (max-width: 359.98px)
		max-width: 360px
		margin: 0 -15px
	.col-lg-9
		max-width: 955px
		@media (max-width: 1319.98px)
			max-width: 662px
	.col-lg-3
		width: 330px
		padding-right: 0px
	.question-topic
		margin-top: 32px
		.hb24
			float: left
		.nice-select
			clear: none
			float: right
			.list
				left: -30px
				width: 180px
		@media (min-width: 992px)
			display: none
		@media (max-width: 659.98px)
			margin-top: 20px
			.hb24
				margin-bottom: 8px
			.nice-select
				clear: both
				float: left
				.list
					left: 0

	.question-list, .sidebar
		margin:
			left: 0
			right: 0
			top: 32px
			bottom: 37px
	.question-list
		position: relative
		padding:
			left: 32px
			right: 36px
		@media (max-width: 1319.98px)
			max-width: 630px
			padding:
				right: 0
				left: 0
			margin-left: calc(100% / 2 - 964px / 2 )

		@media (max-width: 991.98px)
			margin:
				left: auto
				right: auto
		@media (max-width: 659.98px)
			max-width: 300px
			margin:
				left: auto
				right: auto
				top: 0
			padding-right: 0px
		.name
			font-family: "Montserrat-Reg"
			line-height: 24px
			font-size: 15px
			padding-left: 10px
		.avatar
			display: inline-block
			img
				width: 50px
				height: 50px
				border-radius: 100px
		.answers
			font-family: 'Montserrat-Bold'
			font-size: 15px
			text-transform: uppercase	
	.qw-2, .qw-3, .qw-4, .qw-5, .qw-6, .qw-7
		margin-top: 32px
	.qw-1, .qw-2, .qw-5
		position: relative
		padding: 0 40px
		.answers
			position: absolute
			bottom: 30px
			left: 40px
	.qw-1, .qw-4, .qw-5, .qw-6, .qw-7
		background: #F9F9FB
		.name
			color: #1C2429
	.qw-2, .qw-3
		background: #1C2029
		a, p, .name, .answers
			color: #fff			
	.qw-3, .qw-4, .qw-6, .qw-7
		position: relative
		margin-left: 29px
		padding: 0 20px
		width: 300px
		height: 284px
		.avatar
			img
				width: 32px
				height: 32px
		h3
			max-width: 260px
			position: absolute
			bottom: 72px
		.answers
			position: absolute
			bottom: 30px
			left: 20px
	.qw-1, .qw-2
		.avatar
			margin-top: 40px			
	.qw-1
		height: 540px
		h3
			margin: 0
			padding:
				top: 126px
				bottom: 38px
		p
			padding:
				right: 39px
		.answers
			font-family: 'Montserrat-Bold'
			font-size: 15px
			text-transform: uppercase
		@media (max-width: 1319.98px)
			width: 632px
			background: #1C2029
			a, p, .name, .answers
				color: #fff
			h3
				padding-top: 55px
		@media (max-width: 991.98px)
			background: #F9F9FB
			height: 284px
			a, .name, .answers
				color: #1C2029
			p
				display: none
			.avatar
				margin-top: 30px
			h3
				padding-top: 49px
				line-height: 40px
				font-size: 36px
	.qw-2
		max-width: 570px
		height: 600px
		h3
			margin: 0
			padding: 
				top: 80px
				bottom: 40px
		p
			padding:
				right: 10px
	.qw-3
		padding-top: 20px
		@media (max-width: 1319.98px)
			margin-left: 0
	.qw-4
		padding-top: 20px
		position: absolute
		right: 35px
		bottom: 315px
		@media (max-width: 1319.98px)
			position: inherit
			right: 0
			bottom: 0
		@media (max-width: 659.98px)
			margin-left: 0
	.qw-5
		padding-top: 30px
		height: 284px
		width: 570px
		h3
			width: 490px
			position: absolute
			bottom: 72px
		@media (max-width: 1319.98px)
			width: 632px
	.qw-6
		padding-top: 30px
	.qw-7
		padding-top: 30px
		left: 101%
		top: -315px
		margin-bottom: -315px
	.sidebar
		padding-left: 0
		max-width: 100%
		max-height: 1204px
		position: relative
		.topics
			padding:
				left: 0
				right: 0px
			width: 300px
			height: 540px
			background: url('../img/question-y-line.svg') no-repeat
			background-clip: content-box
			background-size: contain
			background-position-x: center
			ul
				margin-bottom: 5px
			.hb24, ul
				margin-left: 29px
			.hb24
				margin:
					bottom: 30px
					top: 30px
			.show-more
				margin:
					right: 30px
					top: 0px
		.banner
			max-width: 300px
			padding: 0
			display: block
		@media (max-width: 1319.98px)	
			padding-left: 32px	
			.topics
				padding:
					left: 0
					right: 0px
			.banner
				padding-top: 32px
footer
	background: #1C2429

	.navbar
		padding-left: 57px
	.navbar-brand
		margin: 0
		padding:
			right: 75px
			top: 11px
			bottom: 11px
		img
			width: 75px
			height: 32px
	.nav-item
		padding: 10px 20px 10px 20px
		white-space: nowrap
		@media (max-width: 991.98px)
			max-width: 236px
			padding: 10px 15px
	.navbar-nav
		font-family: "Montserrat-Med"
		font-size: 15px
		.nav-link
			padding: 0
			color: #fff!important
	@media (max-width: 569.98px)
		.nav-item
			width: 100%
			padding: 5px 0
			.nav-link
				padding: 0!important
		.navbar-expand
			flex-flow: row wrap

		.navbar
			padding:
				left: calc(100% / 2 - 300px / 2 + 5px)	

